<!-- if (^logon.bloqueado == "1") lbl1 -->
<div class="row">
    <div class="span12">
        <div class="alert alert-block">
            <h4>Conta Bloqueada!</h4>
            <p>
                Sua conta encontra-se bloqueada desde <!-- ^logon.bloqueado_data -->.<br />
                <button class="btn btn-mini btn-info" type="button" id="info_motivo_bloqueado">Saber mais</button>
            </p>
        </div>
    </div>
</div>
<div id="BloqueioMotivo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="BloqueioMotivo" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="BloqueioMotivoLabel">Motivo</h3>
    </div>
    <div class="modal-body">
        <p><!-- ^logon.motivo --></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;Fechar&nbsp;&nbsp;</button>
    </div>
</div>
<!-- else lbl1 -->
<!-- if (^logon.bloqueado_saldo == "1") en1 -->
<div class="row">
    <div class="span12">
        <div class="alert alert-block">
            <h4>Conta Bloqueada!</h4>
            <p>
                Sua conta encontra-se bloqueada desde <!-- ^logon.bloqueado_saldo_data -->.<br />
                <button class="btn btn-mini btn-info" type="button" id="info_motivo_bloqueado">Saber mais</button>
            </p>
        </div>
    </div>
</div>
<div id="BloqueioMotivo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="BloqueioMotivo" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="BloqueioMotivoLabel">Motivo</h3>
    </div>
    <div class="modal-body">
        <p>Sua conta está bloqueada por não haver saldo suficiente.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;Fechar&nbsp;&nbsp;</button>
    </div>
</div>
<!-- end en1 -->
<!-- end lbl1 -->