<div class="row">
    <div class="span3">
        <h4>Termos</h4>
        <ul>
            <li><a href="http://www.insigndigital.com.br/termos">Termos de Serviço</a></li>
            <li><a href="http://www.insigndigital.com.br/privacidade">Política de Privacidade</a></li>
            <li><a href="http://www.insigndigital.com.br/abuso">Política de Copyright</a></li>
        </ul>
    </div>
    <div class="span3">
        <h4>Ajuda</h4>
        <ul>
            <li><a href="?m=atendimentos">Central de Atendimento</a></li>
            <li><a href="?m=faq">Perguntas Frequentes</a></li>
            <li><a href="?m=noticias">Informativos & Atualizações</a></li>
        </ul>
    </div>
    <div class="span3">
        <h4>Social</h4>
        <ul>
            <li><a href="http://www.twitter.com/insigndigital">Twitter</a></li>
            <li><a href="http://www.facebook.com/insigndigital">Facebook</a></li>
        </ul>
    </div>
    <div class="span3">
        <h4>Conta</h4>
        <ul>
            <li><a href="?m=minha_conta">Minha Conta</a></li>
            <li><a href="?sair">Sair</a></li>
        </ul>
    </div>
</div>