<!-- if ($msgbox != "") m1 --> 
<div id="MsgBox" class="modal hide fade msgbox" tabindex="-1" role="dialog" aria-labelledby="MsgBoxLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <!-- if ($layout_titulo != "") nn -->
        <h4 id="MsgBoxLabel"><!-- decode($layout_titulo) --></h4>
        <!-- else nn -->
        <h4 id="MsgBoxLabel"><!-- decode($page_titulo) --></h4>
        <!-- end nn -->
    </div>
    <div class="modal-body">
        <p><!-- decode($msgbox) --></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;Fechar&nbsp;&nbsp;</button>
    </div>
</div>
<!-- end m1 -->