<!-- if ($uso_ilimitado != "1") i_uso1 -->
<div class="widget widget-box">
    <div class="widget-content">
        <div class="progress">
            <div class="bar <!-- $uso_estilo -->" style="width: <!-- $uso_porcentagem -->%;"></div>
        </div>
        <center><!-- $uso_usado --> de <!-- $uso_total --></center>
    </div>
</div>
<!-- end i_uso1 -->