<div class="hero-unit">
    <h2>Hummm...</h2>
    <p>Nenhuma informação disponível no momento.</p>
    <!-- if ($sem_cadastro == "") ncad -->
    <br />
    <p>
        <!-- if ($parent_id == "") pp1 -->
        <a href="javascript:;" class="btn btn-large btn-primary btn-action-new">Cadastrar?</a>
        <!-- else pp1 -->
        <a href="javascript:;" class="btn btn-large btn-primary btn-action-new" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cadastrar?</a>
        <!-- end pp1 -->
    </p>
    <!-- end ncad -->
</div>