<!-- if ($uso != "") u1 -->
<div class="row">
    <div class="span8">
        <!-- import (layout/main/index/bem_vindo.html) -->
    </div>
    <div class="span2">
        <div class="hero-unit-small" title="Minha Conta" id="index_conta">
            <h2 style="text-align: center;"><img src="img/icone-minhaconta.png" alt="Minha Conta" /></h2>
            <p style="text-align: center;">Minha Conta</p>
        </div>
    </div>
    <div class="span2">
        <div class="hero-unit-small <!-- $saldo_cor -->" title="Saldo" id="index_saldo">
            <h3 style="text-align: center;">Saldo</h3>
            <p style="text-align: center;">R$ <!-- $saldo_br --></p>
        </div>
    </div>
</div>
<!-- else u1 -->
<div class="row">
    <div class="span12">
        <!-- import (layout/main/index/bem_vindo.html) -->
    </div>
</div>
<!-- end u1 -->
<!-- if ($noticia_titulo != "") n1 -->
<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-content">
                <h4><!-- $noticia_titulo --></h4>
                <p><!-- decode($noticia_mensagem) --></p>
                <h5>Publicado por <!-- decode($noticia_usuario_nome) --> em <!-- decode($noticia_atualizado_br) --></h5>
            </div>
        </div>
    </div>
</div>
<!-- end n1 -->
<!-- if ($uso != "") u2 -->
<!-- import (layout/main/index/uso.html) -->
<!-- end u2 -->