<div class="row">
    <div class="span8">
        <!-- import (layout/main/index/bem_vindo_sem.html) -->
    </div>
    <div class="span4">
        <!-- import (layout/main/assinatura/produto.html) -->
    </div>
</div>
<script type="text/javascript">
    $(".btn-action-detalhes").click(function() {
        $(".plan-btn-detalhes").remove();        
        $(".detalhe-oculto").fadeIn("slow");
    });
</script>