<div class="page-header">
    <h4>Consumo</h4>
</div>
<div class="row" id="divuso">
    <!-- each ($uso) u2 -->
    <div class="span4">
        <div class="widget widget-box">
            <div class="widget-content">
                <h5><!-- $u2.nome --></h5>
                <div class="progress">
                    <div class="bar <!-- $u2.estilo -->" style="width: <!-- $u2.porcentagem -->%;"></div>
                </div>
                <center><!-- $u2.usado --> de <!-- $u2.total --></center>
            </div>
        </div>
    </div>
    <!-- end u2 -->
</div>
<!--<div class="row" id="divbtnexibiruso">
    <div class="span4">
        <a href="javascript:;" class="btn btn-large btn-info" id="exibiruso" style="margin-bottom: 2em;">Exibir resumo de uso</a>
    </div>
</div>
<script type="text/javascript">
    $("#exibiruso").click(function() {
        $("#divbtnexibiruso").remove();
        $("#divuso").fadeTo("slow", "1");
    });
</script>-->