<!-- each ($interacoes) e2 -->
<div class="widget">
    <div class="widget-content">
        <p><!-- decode($e2.resposta) --></p>
        <h5>Respondido por <!-- decode($e2.usuario_nome) --> em <!-- decode($e2.cadastrado_br) --></h5>
    </div>
</div>
<!-- end e2 -->