<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Pergunta</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($atendimentos) e2 -->
            <tr>
                <td><!-- $e2.titulo --></td>
                <td>
                    <span class="label <!-- $e2.status_cor -->" title="<!-- $e2.status_titulo -->">
                        <i class="btn-icon-only icon-white <!-- $e2.status_icone -->"></i>
                    </span>
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-update">Visualizar</a></li>
                            <!-- if ($e2(status) less 3) status_$e2(id) -->
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-delete">Encerrar</a></li>
                            <!-- end status_$e2(id) -->
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>