<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="titulo">Título</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="titulo" name="titulo" value="<!-- $titulo -->" readonly="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="questao">Questão</label>
                    <div class="controls">
                        <textarea id="questao" class="input-xxlarge" name="questao" rows="3"  readonly=""><!-- $questao --></textarea>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <!-- import (layout/main/atendimentos/interacao.html) -->
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Encerrar Atendimento</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
