<!-- if ($debitos != "") e1 -->
<div class="page-header">
    <h4>Histórico de Débitos <span style="color: #bd362f">(<!-- $periodo_inicial --> até <!-- $periodo_final -->)</span></h4>
</div>
<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 10%;">Mês</th>
                <th>Descrição</th>
                <th style="width: 12%;">Valor</th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($debitos) e2 -->
            <tr>
                <td style="text-align: right;"><!-- $e2.mes -->/<!-- $e2.ano --></td>
                <td><!-- $e2.descricao --> <span style="color: #f90;">(<!-- $e2.qtd --> x <span class="tip" title="Valor Exato: R$ <!-- $e2.valor_br -->">R$ <!-- $e2.valor_br2 --></span>)</span></td>
                <td style="text-align: right;">R$ <!-- $e2.total_br2 --></td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<!-- end e1 -->