<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="valor_id">Valor</label>
                    <div class="controls">
                        <select id="valor_id" name="valor_id" rel="<!-- $valor_id -->">
                            <!-- each ($valores) e2 -->
                            <option value="<!-- $e2.id -->">R$ <!-- $e2.valor_br --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tipo_pagamento_id">Meio de Pagamento</label>
                    <div class="controls">
                        <select id="tipo_pagamento_id" name="tipo_pagamento_id" rel="<!-- $tipo_pagamento_id -->">
                            <!-- each ($pagamentos) e3 -->
                            <option value="<!-- $e3.id -->"><!-- $e3.nome --></option>
                            <!-- end e3 -->
                        </select>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Inserir Crédito</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
<script type="text/javascript">

</script>