<!-- if ($transacoes != "") e1 -->
<div class="page-header">
    <h4>Histórico de Transações <span style="color: #bd362f">(<!-- $periodo_inicial --> até <!-- $periodo_final -->)</span></h4>
</div>
<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 7%;">Data</th>
                <th>Descrição</th>
                <th style="width: 12%;">Valor</th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($transacoes) e2 -->
            <tr>
                <td title="<!-- $e2.cadastrado_br -->"><!-- $e2.cadastrado_br2 --></td>
                <td><!-- $e2.descricao --> (<!-- $e2.codigo -->)</td>
                <td style="text-align: right;">R$ <!-- $e2.valor_br2 --></td>
                <td>
                    <!-- if ($e2(efetivado) == "1") is_efetivado_$e2(id) -->
                    <span class="label label-success" title="Efetivado em <!-- $e2.efetivado_br -->">
                        <i class="btn-icon-only icon-white icon-ok"></i>
                    </span>
                    <!-- else is_efetivado_$e2(id) -->
                    <span class="label label-important" title="Não Efetivado">
                        <i class="btn-icon-only icon-white icon-minus"></i>
                    </span>
                    <!-- end is_efetivado_$e2(id) -->
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<!-- else e1 -->
<!-- import (layout/vazio.html) -->
<!-- end e1 -->