<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span8">
        <!-- if ($formulario == "") f1 -->
        <!-- if ($chamados != "") e1 -->
        <!-- import (layout/main/chamados/listar.html) -->
        <!-- else e1 -->
        <!-- import (layout/vazio.html) -->
        <!-- end e1 -->
        <!-- else f1 -->
        <!-- if ($remover != "") f2 -->
        <!-- import (layout/main/chamados/remover.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/chamados/editar.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
    <div class="span4">
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>