<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span8">
        <!-- if ($formulario == "") f1 -->
        <div class="widget widget-box">
            <div class="widget-content">
                <div>
                    <a href="javascript:;" class="btn btn-small btn-primary btn-action-sublist-return" parent="<!-- $parent -->">Voltar</a>
                    Estes são os registros de DNS do domínio <b><!-- $dominio_dominio --></b>.
                </div>
            </div>
        </div>
        <!-- if ($dns != "") e1 -->
        <!-- import (layout/main/dns/listar.html) -->
        <!-- else e1 -->
        <!-- import (layout/vazio.html) -->
        <!-- end e1 -->
        <!-- else f1 -->
        <!-- if ($remover != "") f2 -->
        <!-- import (layout/main/dns/remover.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/dns/editar.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
    <div class="span4">
        <div class="alert alert-<!-- $zona_estado -->">
            <h4>Estado: <!-- $zona_titulo --></h4>
            <p>
                <!-- $zona_mensagem --><br />
                <i><!-- $zona_checkout --></i>
            </p>
        </div>
        <!-- if ($dns != "") e2 -->
        <!-- if ($formulario != 1) f2 -->
        <a href="javascript:;" class="btn btn-large btn-warning btn-action-new" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cadastrar!</a>	
        <!-- end f2 -->
        <!-- end e2 -->
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>