<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span8">
        <!-- if ($formulario == "") f1 -->
        <!-- if ($dominios != "") e1 -->
        <!-- import (layout/main/dominios/listar.html) -->
        <!-- else e1 -->
        <!-- import (layout/vazio.html) -->
        <!-- end e1 -->
        <!-- else f1 -->
        <!-- if ($remover != "") f2 -->
        <!-- import (layout/main/dominios/remover.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/dominios/editar.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
    <div class="span4">
        <!-- import (layout/uso.html) -->
        <!-- if ($dominios != "") e2 -->
        <!-- if ($formulario != 1) f2 -->
        <!-- if ($uso_porcentagem != 100) up2 -->
        <a href="javascript:;" class="btn btn-large btn-warning btn-action-new">Cadastrar!</a>	
        <!-- end up2 -->
        <!-- end f2 -->
        <!-- end e2 -->
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>