<div class="row">
    <div class="span8">
        <form autocomplete="off" method="post" class="form-horizontal">
            <input type="hidden" id="email" name="email" value="<!-- $email -->">
            <div class="widget">
                <div class="widget-content">
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="nome" name="nome" value="<!-- $nome -->">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <div class="control-text"><!-- $email --></div>
                            </div>
                        </div>

                        <!-- import (layout/senha.html) -->

                        <div class="control-group">
                            <label class="control-label" for="senha_atual">Senha atual</label>
                            <div class="controls">
                                <div class="control-text">* Senha criptografada, impossível visualizar novamente.</div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="telefone">Telefone</label>
                            <div class="controls">
                                <input type="text" class="input-medium" id="telefone" name="telefone" alt="phone" value="<!-- $telefone -->">
                            </div>
                        </div>

                    </fieldset>

                    <!-- if ($plano_nome != "") en1 -->
                    <fieldset>
                        <legend>Assinatura</legend>

                        <!-- if (^logon.zpanel_usuario != "") lzu -->
                        <div class="control-group">
                            <label class="control-label" for="zpanel_usuario">Conta</label>
                            <div class="controls">
                                <div class="control-text"><!-- ^logon.zpanel_usuario --></div>
                            </div>
                        </div>
                        <!-- end lzu -->

                        <div class="control-group">
                            <label class="control-label" for="plano_nome">Plano</label>
                            <div class="controls">
                                <div class="control-text"><!-- $plano_nome --></div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="plano_valor_br">Mensalidade</label>
                            <div class="controls">
                                <div class="control-text">R$ <!-- $plano_valor_br --></div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="saldo_br">Saldo Atual</label>
                            <div class="controls">
                                <div class="control-text">R$ <!-- $saldo_br --></div>
                            </div>
                        </div>

                        <!-- if ($bloqueado_saldo == "1") en1 -->
                        <div class="control-group">
                            <label class="control-label" for="bloqueado_saldo">Bloqueado</label>
                            <div class="controls">
                                <div class="control-text">Sua conta está bloqueada desde <!-- $bloqueado_saldo_data --> por não haver saldo suficiente.</div>
                            </div>
                        </div>
                        <!-- end en1 -->

                    </fieldset>
                    <!-- end en1 -->

                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
                <button class="btn btn-large btn-action-home">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="span4">
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="<!-- $gravatar -->" alt="Seu Gravatar!" title="Seu Gravatar!" />
                </div>
                <div style="text-align: right; padding-top: 5px;">
                    <h5>Powered by <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>.</h5>
                </div>
            </li>
        </ul>
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>