<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span12">
        <!-- each ($noticias) e2 -->
        <div class="widget">
            <div class="widget-content">
                <h4><!-- $e2.titulo --></h4>
                <p><!-- decode($e2.mensagem) --></p>
                <h5>Publicado por <!-- decode($e2.usuario_nome) --> em <!-- decode($e2.atualizado_br) --></h5>
            </div>
        </div>
        <!-- end e2 -->
        <div>
            <a href="/" class="btn btn-large btn-info">Página Inicial</a>
        </div>
    </div>
</div>