<div class="row">
    <div class="span8">
        <form autocomplete="off" method="post" class="form-horizontal">
            <div class="widget">
                <div class="widget-content">
                    <fieldset>
                        <input type="hidden" name="plano_id" id="plano_id" value="<!-- $id -->">

                        <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <div class="control-text"><!-- $us_nome --></div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <div class="control-text"><!-- $us_email --></div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="telefone">Telefone</label>
                            <div class="controls">
                                <div class="control-text"><!-- $us_telefone --></div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <a href="?m=minha_conta">Alterar dados da minha conta...</a>
                            </div>
                        </div>

                        <div class="control-group info">
                            <label class="control-label" for="nome">Plano</label>
                            <div class="controls">
                                <div class="control-text"><!-- $nome --></div>
                            </div>
                        </div>

                        <div class="control-group info">
                            <label class="control-label" for="valor">Mensalidade</label>
                            <div class="controls">
                                <div class="control-text">R$ <!-- $valor_br --></div>
                            </div>
                        </div>

                    </fieldset>

                </div>
            </div>
            <div class="hero-unit hero-red">
                <h2>Plano +15</h2>
                <p>Com este você ganha 15 dias em bônus para poder testar nossos serviços!</p>
            </div>
            <div class="row">
                <div class="span6 offset1">
                    <div class="widget">
                        <button type="submit" id="comprar" class="btn btn-large btn-success btn-action-produtos">Assinar!</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="span4">
        <!-- import (layout/main/assinatura/produto.html) -->
    </div>
</div>

<script type="text/javascript">
    var plano_id, assinar = $("#plano_id").val();
//    $('#endereco_cep').blur(function() {
//        var cep = $(this).val();
//        if (cep.length > 0) {
//            $.getJSON("/xhr.html?m=assinatura&assinar&id=" + plano_id + "&cep=" + cep, false, function(data) {
//                if (data.retorno != false) {
//                    $("#endereco_bairro").val(data.retorno.bairro);
//                    $("#endereco_cidade").val(data.retorno.cidade);
//                    $("#endereco_estado").val(data.retorno.uf);
//                    $("#endereco_pais").val(data.retorno.pais);
//                }
//            }); 
//        }
//    });
</script>