<form autocomplete="off" method="post" class="form-horizontal">
    <input type="hidden" name="proximo_passo" value="resumo">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h4>E-mail</h4>
                <p>Você pode configurar uma conta de e-mail para trocar mensagens com seus visitantes criando assim um meio de comunicação entre eles.<p>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="widget-content">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="endereco">E-mail</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="endereco" name="endereco" value="<!-- $endereco -->">
                        @<!-- $dominio_endereco -->
                    </div>
                </div>

                <!-- import (layout/senha.html) -->

                <!-- if ($senha != "") c1 -->
                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text"><!-- $senha --></div>
                    </div>
                </div>
                <!-- end c1 -->

                <div class="control-group">
                    <label class="control-label" for="redirect">Encaminhar minhas mensagens para outro email.</label>
                    <div class="controls">
                        <input type="checkbox" id="redirect" name="redirect" rel="<!-- $redirect -->" value="1">
                    </div>
                </div>

                <div class="no_redirect hide">

                    <div class="control-group">
                        <label class="control-label" for="redirecionamento_endereco">E-mail de destino</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">@</span>
                                <input type="text" id="redirecionamento_endereco" name="redirecionamento_endereco" value="<!-- $redirecionamento_endereco -->">
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="redirecionamento_original">Manter mensagem original</label>
                        <div class="controls">
                            <input type="checkbox" id="redirecionamento_original" name="redirecionamento_original" rel="<!-- $redirecionamento_original -->" value="1">
                            <p class="help-block">Se marcar esta opção uma cópia da mensagem original será deixado na caixa de correio no endereço de origem, quando ele é encaminhado para o endereço de destino, caso contrário estará disponível apenas no endereço de destino.</p>
                        </div>
                    </div>

                </div>


            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Próximo Passo</button>
    </div>
</form>
<script type="text/javascript">
    $("#redirect").change(function() {
        $(".no_redirect").addClass("hide");
        $("#redirecionar").parent().parent().removeClass("hide");
        if ($(this).is(":checked")) {
            $(".no_redirect").removeClass("hide");
            $("#redirecionar").parent().parent().addClass("hide");
        }
    });
</script>