<form autocomplete="off" method="post" class="form-horizontal">
    <input type="hidden" name="proximo_passo" value="email">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h4>Banco de Dados</h4>
                <p>Para disponibilizar conteúdo interativo para os visitantes do site, <b><!-- $dominio_endereco --></b>, é necessário armazená-los em lugar seguro e de rápido acesso.<p>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="widget-content">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Banco de dados</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><!-- $zpanel_usuario -->_</span>
                            <input type="text" class="input-medium" id="nome" name="nome" value="<!-- $nome -->">
                            <p class="help-block">Somente letras e números.</p>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="usuario">Usuário</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><!-- $zpanel_usuario -->_</span>
                            <input type="text" class="input-medium" maxlength="9" id="usuario" name="usuario" value="<!-- $usuario -->">
                            <p class="help-block">Somente letras e números.</p>
                        </div>
                    </div>
                </div>

                <!-- import (layout/senha.html) -->
                
                <!-- if ($senha != "") c1 -->
                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text"><!-- $senha --></div>
                    </div>
                </div>
                <!-- end c1 -->

                <div class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="acesso_tipo" class="rdacesso_tipo" value="1" rel="<!-- $acesso_tipo -->">
                            Permitir acesso a partir de qualquer IP
                        </label>
                        <label class="radio">
                            <input type="radio" name="acesso_tipo" class="rdacesso_tipo" value="2" rel="<!-- $acesso_tipo -->">
                            Somente a partir de IP único
                        </label>
                    </div>
                </div>

                <div class="control-group acesso_tipo hide" id="acesso_tipo_2">
                    <label class="control-label" for="acesso">Endereço IP</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="acesso" name="acesso" value="<!-- $acesso -->">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Próximo Passo</button>
    </div>
</form>
<script type="text/javascript">

    $(".rdacesso_tipo").change(function() {
        $(".acesso_tipo").addClass("hide");
        if ($(this).is(":checked")) {
            $("#acesso_tipo_" + $(this).val()).removeClass("hide");
        }
    });

</script>