<div class="hero-unit">
    <h2>Olá</h2>
    <p>Seja bem-vindo ao painel do cliente, selecionamos ao lado um ótimo plano para você!</p>
    <p>
        <a href="?m=assinatura" class="btn btn-large btn-success">Conheça outros planos!</a>
    </p>
</div>
<div class="hero-unit hero-red">
    <h2>Planos +15</h2>
    <p>Escolha qualquer plano e ganhe 15 dias em bônus para poder testar nossos serviços!</p>
</div>