<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <input type="text" id="nome" name="nome" value="<!-- $nome -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="habilitar_php">Habilitar PHP</label>
                    <div class="controls">
                        <input type="checkbox" id="habilitar_php" name="habilitar_php" rel="<!-- $habilitar_php -->" value="1">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="habilitar_cgi">Habilitar CGI</label>
                    <div class="controls">
                        <input type="checkbox" id="habilitar_cgi" name="habilitar_cgi" rel="<!-- $habilitar_cgi -->" value="1">
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Limites</legend>

                <div class="control-group">
                    <label class="control-label" for="total_dominio">Domínios</label>
                    <div class="controls">
                        <input type="text" class="input-mini contabilizar" alt="integer" id="total_dominio" name="total_dominio" value="<!-- $total_dominio -->">
                        <span class="help-inline">x R$ <!-- $plv_dominio_valor_br --><b><span id="valor_dominio"> = R$ <!-- $plv_dominio_total_br --></span></b> <!-- if ($plv_dominio_reajustado != "") ra_dominio --><span class="label label-warning">Reajustado!</span><!-- end ra_dominio --></span>
                        <input type="hidden" id="plv_dominio_valor" name="plv_dominio_valor" value="<!-- $plv_dominio_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_dominio_total" name="plv_dominio_total" value="<!-- $plv_dominio_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_subdominio">Subdomínios</label>
                    <div class="controls">
                        <input type="text" class="input-mini contabilizar" alt="integer" id="total_subdominio" name="total_subdominio" value="<!-- $total_subdominio -->">
                        <span class="help-inline">x R$ <!-- $plv_subdominio_valor_br --><b><span id="valor_subdominio"> = R$ <!-- $plv_subdominio_total_br --></span></b> <!-- if ($plv_subdominio_reajustado != "") ra_subdominio --><span class="label label-warning">Reajustado!</span><!-- end ra_subdominio --></span>
                        <input type="hidden" id="plv_subdominio_valor" name="plv_subdominio_valor" value="<!-- $plv_subdominio_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_subdominio_total" name="plv_subdominio_total" value="<!-- $plv_subdominio_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_email">Contas de E-mail</label>
                    <div class="controls">
                        <input type="text" class="input-mini contabilizar" alt="integer" id="total_email" name="total_email" value="<!-- $total_email -->">
                        <span class="help-inline">x R$ <!-- $plv_email_valor_br --><b><span id="valor_email"> = R$ <!-- $plv_email_total_br --></span></b> <!-- if ($plv_email_reajustado != "") ra_email --><span class="label label-warning">Reajustado!</span><!-- end ra_email --></span>
                        <input type="hidden" id="plv_email_valor" name="plv_email_valor" value="<!-- $plv_email_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_email_total" name="plv_email_total" value="<!-- $plv_email_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_redirecionamento_email">Redirecionamentos de E-mail</label>
                    <div class="controls">
                        <input type="text" class="input-mini contabilizar" alt="integer" id="total_redirecionamento_email" name="total_redirecionamento_email" value="<!-- $total_redirecionamento_email -->">
                        <span class="help-inline">x R$ <!-- $plv_redirecionamento_email_valor_br --><b><span id="valor_redirecionamento_email"> = R$ <!-- $plv_redirecionamento_email_total_br --></span></b> <!-- if ($plv_redirecionamento_email_reajustado != "") ra_redirecionamento_email --><span class="label label-warning">Reajustado!</span><!-- end ra_redirecionamento_email --></span>
                        <input type="hidden" id="plv_redirecionamento_email_valor" name="plv_redirecionamento_email_valor" value="<!-- $plv_redirecionamento_email_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_redirecionamento_email_total" name="plv_redirecionamento_email_total" value="<!-- $plv_redirecionamento_email_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_lista_email">Grupos de E-mail</label>
                    <div class="controls">
                        <input type="text" class="input-mini contabilizar" alt="integer" id="total_lista_email" name="total_lista_email" value="<!-- $total_lista_email -->">
                        <span class="help-inline">x R$ <!-- $plv_lista_email_valor_br --><b><span id="valor_lista_email"> = R$ <!-- $plv_lista_email_total_br --></span></b> <!-- if ($plv_lista_email_reajustado != "") ra_lista_email --><span class="label label-warning">Reajustado!</span><!-- end ra_lista_email --></span>
                        <input type="hidden" id="plv_lista_email_valor" name="plv_lista_email_valor" value="<!-- $plv_lista_email_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_lista_email_total" name="plv_lista_email_total" value="<!-- $plv_lista_email_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_ftp">Contas de FTP</label>
                    <div class="controls">
                        <input type="text" class="input-mini contabilizar" alt="integer" id="total_ftp" name="total_ftp" value="<!-- $total_ftp -->">
                        <span class="help-inline">x R$ <!-- $plv_ftp_valor_br --><b><span id="valor_ftp"> = R$ <!-- $plv_ftp_total_br --></span></b> <!-- if ($plv_ftp_reajustado != "") ra_ftp --><span class="label label-warning">Reajustado!</span><!-- end ra_ftp --></span>
                        <input type="hidden" id="plv_ftp_valor" name="plv_ftp_valor" value="<!-- $plv_ftp_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_ftp_total" name="plv_ftp_total" value="<!-- $plv_ftp_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_mysql">Bancos de Dados</label>
                    <div class="controls">
                        <input type="text" class="input-mini contabilizar" alt="integer" id="total_mysql" name="total_mysql" value="<!-- $total_mysql -->">
                        <span class="help-inline">x R$ <!-- $plv_mysql_valor_br --><b><span id="valor_mysql"> = R$ <!-- $plv_mysql_total_br --></span></b> <!-- if ($plv_mysql_reajustado != "") ra_mysql --><span class="label label-warning">Reajustado!</span><!-- end ra_mysql --></span>
                        <input type="hidden" id="plv_mysql_valor" name="plv_mysql_valor" value="<!-- $plv_mysql_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_mysql_total" name="plv_mysql_total" value="<!-- $plv_mysql_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_quota_disco">Espaço em disco</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small contabilizar" alt="integer" id="total_quota_disco" name="total_quota_disco" value="<!-- $total_quota_disco -->">
                            <span class="add-on">MBytes</span>
                        </div>
                        <span class="help-inline">x R$ <!-- $plv_quota_disco_valor_br --><b><span id="valor_quota_disco"> = R$ <!-- $plv_quota_disco_total_br --></span></b> <!-- if ($plv_quota_disco_reajustado != "") ra_quota_disco --><span class="label label-warning">Reajustado!</span><!-- end ra_quota_disco --></span>
                        <input type="hidden" id="plv_quota_disco_valor" name="plv_quota_disco_valor" value="<!-- $plv_quota_disco_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_quota_disco_total" name="plv_quota_disco_total" value="<!-- $plv_quota_disco_total -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="total_quota_transferencia">Transferência</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small contabilizar" alt="integer" id="total_quota_transferencia" name="total_quota_transferencia" value="<!-- $total_quota_transferencia -->">
                            <span class="add-on">MBytes</span>
                        </div>
                        <span class="help-inline">x R$ <!-- $plv_quota_transferencia_valor_br --><b><span id="valor_quota_transferencia"> = R$ <!-- $plv_quota_transferencia_total_br --></span></b> <!-- if ($plv_quota_transferencia_reajustado != "") ra_quota_transferencia --><span class="label label-warning">Reajustado!</span><!-- end ra_quota_transferencia --></span>
                        <input type="hidden" id="plv_quota_transferencia_valor" name="plv_quota_transferencia_valor" value="<!-- $plv_quota_transferencia_valor -->">
                        <input type="hidden" class="contabilizar_total" id="plv_quota_transferencia_total" name="plv_quota_transferencia_total" value="<!-- $plv_quota_transferencia_total -->">
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Valores</legend>
                             <!--
                <div class="control-group">
                    <label class="control-label" for="limite_minimo">Preço mínimo</label>
                    <div class="controls">
                        <div class="control-text">R$ 7,00</div>
                    </div>
                </div>
                -->

                <div class="control-group <!-- if ($reajustado != "") ra_total -->warning<!-- end ra_total -->">
                     <label class="control-label" for="valor">Preço</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">R$</span>
                            <input type="text" class="input-small" readonly="" alt="signed-decimal" id="valor" name="valor" value="<!-- if ($reajustado != "") ra_total2 --><!-- $valor_reajustado --><!-- else ra_total2 --><!-- $valor --><!-- end ra_total2 -->">
                        </div>
                    </div>
                </div>

                <!-- if ($reajustado != "") ra_total1 -->
                <div class="control-group">
                    <label class="control-label" for="valor_anterior">Preço anterior</label>
                    <div class="controls">
                        <div class="control-text">R$ <!-- $valor_br --></div>
                    </div>
                </div>
                <!-- end ra_total1 -->

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
<script type="text/javascript">
    $.atualiza_valor = function() {
        var total = 0.00;
        $(".contabilizar_total").each(function() {
            var valor = $(this).val();
            valor = valor.replace(/,/g, ".");
            total += parseFloat(valor);
        });
        $("#valor").val($.number_format(total, 2, ',', '.'));
    }
    $('.contabilizar').blur(function() {
        var id = $(this).attr("id");
        var valor = $(this).val();
        id = id.replace(/total_/, "");
        if (id.length > 0) {
            $("#plv_" + id + "_total").val("0.00");
            $("#valor_" + id).text(" = Processando...");
            var total = $("#plv_" + id + "_valor").val();
            valor = $.string2float(valor, true);
            total = $.string2float(total);
            var valor_total = parseFloat(valor) * parseFloat(total);
            $("#plv_" + id + "_total").val(valor_total);
            $("#valor_" + id).text(" = R$ " + $.number_format(valor_total, 2, ',', '.'));
            $.atualiza_valor();
        }
    });
</script>