<div class="widget widget-box">
    <div class="widget-content">
        <div>
            <a href="javascript:;" class="btn btn-small btn-primary btn-action-sublist-return" parent="<!-- $parent -->">Voltar</a>
            Você está cadastrando uma associação do usuário <b><!-- $mysql_usuario_usuario --></b> com o banco de dados.
        </div>
    </div>
</div>
<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="mysql_id">Banco de dados</label>
                    <div class="controls">
                        <select id="mysql_id" name="mysql_id" rel="<!-- $mysql_id -->">
                            <!-- each ($mysql) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.nome --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Salvar</button>
        <button class="btn btn-large btn-action-cancel" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cancelar</button>
    </div>
</form>