<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Banco de dados</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><!-- $zpanel_usuario -->_</span>
                            <input type="text" class="input-medium" id="nome" name="nome" value="<!-- $nome -->">
                            <p class="help-block">Somente letras e números.</p>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>