<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Banco de dados</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($mysql) e2 -->
            <tr>
                <td><!-- $e2.nome --></td>
                <td>
                    <span class="label label-info" title="Tamanho: <!-- $e2.tamanho_legivel -->">
                        <i class="btn-icon-only icon-white icon-info-sign"></i>
                    </span>
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-delete">Remover</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>