<form autocomplete="off" method="post" class="form-horizontal">
    <input type="hidden" name="proximo_passo" value="ftp">
    <input type="hidden" name="dominio" value="<!-- $dominio -->">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h4>Domínio (<!-- $dominio -->)</h4>
                <p>Você já deu o primeiro passo para configurar o domínio, abaixo você definirá o comportamento de quando alguém acessá-lo.<p>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="widget-content">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="estacionado">Estacionado</label>
                    <div class="controls">
                        <input type="checkbox" id="estacionado" name="estacionado" rel="<!-- $estacionado -->" value="1">
                    </div>
                </div>

                <div class="no_parked">

                    <div class="control-group">
                        <label class="control-label" for="redirect">Redirecionado</label>
                        <div class="controls">
                            <input type="checkbox" id="redirect" name="redirect" rel="<!-- $redirect -->" value="1">
                        </div>
                    </div>

                    <div class="control-group hide">
                        <label class="control-label" for="redirecionar">Redirecionar para</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="redirecionar" name="redirecionar" value="<!-- $redirecionar -->">
                        </div>
                    </div>

                    <div class="no_redirect">

<!--                        <div class="control-group">
                            <label class="control-label" for="mirror">Espelhado</label>
                            <div class="controls">
                                <input type="checkbox" id="mirror" name="mirror" rel=" $mirror " value="1">
                            </div>
                        </div>

                        <div class="control-group hide">
                            <label class="control-label" for="diretorio">Espelhar em</label>
                            <div class="controls">
                                <select id="diretorio" name="diretorio" rel=" $diretorio ">
                                     each ($dominios) e2 
                                     if ($e2(mirror) == "") e4_$e2(id) 
                                    <option value=" $e2.diretorio "> $e2.dominio </option>
                                     end e4_$e2(id) 
                                     end e2 
                                     each ($subdominios) e3 
                                     if ($e3(mirror) == "") e5_$e3(id) 
                                    <option value=" $e3.diretorio "> $e3.subdominio </option>
                                     end e5_$e3(id) 
                                     end e3 
                                </select>
                            </div>
                        </div>-->

                        <div class="control-group">
                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" name="www" class="www" value="1" rel="<!-- $www -->">
                                    Corrigir o endereço de <b><!-- $dominio --></b> para <b>www.<!-- $dominio --></b>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="www" class="www" value="2" rel="<!-- $www -->">
                                    Corrigir o endereço de <b>www.<!-- $dominio --></b> para <b><!-- $dominio --></b>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="www" class="www" value="3" rel="<!-- $www -->">
                                    Não corrigir o endereço <i>(ambos irão funcionar)</i>
                                </label>
                            </div>
                        </div>

                    </div>

                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Próximo Passo</button>
    </div>
</form>
<script type="text/javascript">
    $("#estacionado").change(function() {
        $(".no_parked").removeClass("hide");
        if ($(this).is(":checked")) {
            $(".no_parked").addClass("hide");
        }
    });
    $("#redirect").change(function() {
        $(".no_redirect").removeClass("hide");
        $("#redirecionar").parent().parent().addClass("hide");
        if ($(this).is(":checked")) {
            $(".no_redirect").addClass("hide");
            $("#redirecionar").parent().parent().removeClass("hide");
        }
    });
</script>