<form autocomplete="off" method="post" class="form-horizontal faq-search">
    <input type="hidden" name="proximo_passo" value="dominio">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h2>Assistente</h2>
                <p>Seja bem-vindo ao assistente de configuração.</p>
                <p>Essa ferramenta permite que você configure de uma só vez informações importante para seu site.</p>
                <br />
                <h4>Primeiramente insira o endereço do seu site (domínio) que você deseja configurar clique em "Iniciar Assistente":</h4>
                <p>
                    <input type="text" id="dominio" name="dominio" value="<!-- $dominio -->" placeholder="www.seusite.com.br">
                </p>
                <p>
                    <button type="submit" class="btn btn-success btn-large">Iniciar Assistente</button>
                </p>
            </div>
        </div>
    </div>
</form>