<div class="row">
    <div class="span12">
        <div class="breadcrumb">
            <div class="wizard">
                <a href="javascript:;" rel="inicio"><span class="badge">1</span> Início</a>
                <a href="javascript:;" rel="dominio"><span class="badge">2</span> Domínio</a>
                <a href="javascript:;" rel="ftp"><span class="badge">3</span> FTP</a>
                <a href="javascript:;" rel="mysql"><span class="badge">4</span> Banco de Dados</a>
                <a href="javascript:;" rel="email"><span class="badge">5</span> E-mail</a>
                <a href="javascript:;" rel="resumo"><span class="badge">6</span> Resumo</a>
                <a href="javascript:;" rel="concluido"><span class="badge">7</span> Concluído</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var crumb = "<!-- $crumb -->";
    $("div.wizard a[rel='"+ crumb +"']").addClass("current");
    $("div.wizard a[rel='"+ crumb +"'] span.badge").addClass("badge-inverse");
    $("div.wizard a").click(function() {
        var rel = $(this).attr("rel");
        window.location = $.url("assistente") + "&" + rel;
    });
</script>