<form autocomplete="off" method="post" class="form-horizontal">
    <input type="hidden" name="proximo_passo" value="concluido">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h4>Resumo</h4>
                <p>Este é o último passo, se tudo estiver certo clique em "Concluir".<p>
            </div>
        </div>
    </div>
    <div class="widget">
        <div class="widget-content">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="dominio_dominio">Domínio</label>
                    <div class="controls">
                        <div class="control-text"><!-- $dominio_dominio --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="ftp_usuario">Conta FTP</label>
                    <div class="controls">
                        <div class="control-text">
                            <!-- if ($ftp_usuario != "") ee1 -->
                            <!-- $zpanel_usuario -->_<!-- $ftp_usuario -->
                            <!-- else ee1 -->
                            Não configurar!
                            <!-- end ee1 -->
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="mysql_nome">Banco de dados</label>
                    <div class="controls">
                        <div class="control-text">
                            <!-- if ($mysql_nome != "") ee2 -->
                            <!-- $zpanel_usuario -->_<!-- $mysql_nome -->
                            <!-- else ee2 -->
                            Não configurar!
                            <!-- end ee2 -->
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="mysql_usuario">Usuário do Bando de dados</label>
                    <div class="controls">
                        <div class="control-text">
                            <!-- if ($mysql_nome != "") ee3 -->
                            <!-- if ($mysql_usuario != "") ee33 -->
                            <!-- $zpanel_usuario -->_<!-- $mysql_usuario -->
                            <!-- else ee33 -->
                            Não configurar!
                            <!-- end ee33 -->
                            <!-- else ee3 -->
                            Não configurar!
                            <!-- end ee3 -->
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="email_endereco">E-mail</label>
                    <div class="controls">
                        <div class="control-text">
                            <!-- if ($email_endereco != "") ee4 -->
                            <!-- $email_endereco -->@<!-- $dominio_dominio -->
                            <!-- else ee4 -->
                            Não configurar!
                            <!-- end ee4 -->
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Concluir</button>
    </div>
</form>