<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <!-- if ($id != "") c1 -->

                <div class="control-group">
                    <label class="control-label" for="endereco">E-mail</label>
                    <div class="controls">
                        <div class="control-text"><!-- $endereco --></div>
                    </div>
                </div>

                <!-- else c1 -->

                <div class="control-group">
                    <label class="control-label" for="endereco">E-mail</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="endereco" name="endereco" value="<!-- $endereco -->">
                        @
                        <select id="dominio_id" name="dominio_id" rel="<!-- $dominio_id -->">
                            <!-- each ($dominios) e6 -->
                            <option value="<!-- $e6.id -->"><!-- $e6.dominio --></option>
                            <!-- end e6 -->
                        </select>
                    </div>
                </div>

                <!-- end c1 -->

                <!-- import (layout/senha.html) -->

                <!-- if ($id != "") c2 -->

                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text"><!-- $senha --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="bloqueado">Bloqueado</label>
                    <div class="controls">
                        <input type="checkbox" id="bloqueado" name="bloqueado" rel="<!-- $bloqueado -->" value="1">
                    </div>
                </div>

                <!-- end c2 -->

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>