<div class="widget widget-box">
    <div class="widget-content">
        <div>
            <a href="javascript:;" class="btn btn-small btn-primary btn-action-sublist-return" parent="<!-- $parent -->">Voltar</a>
            Você está removendo um registro de DNS do domínio <b><!-- $dominio_dominio --></b>.
        </div>
    </div>
</div>
<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <input type="hidden" id="tipo" name="tipo" value="<!-- $tipo -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="tipo"></label>
                    <div class="controls">
                        <h3><!-- $tipo --></h3>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="valor">Nome</label>
                    <div class="controls">
                        <div class="control-text"><!-- $valor --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="ttl">TTL</label>
                    <div class="controls">
                        <div class="control-text"><!-- $ttl --></div>
                    </div>
                </div>

                <div class="control-group entrada entrada_mx entrada_srv">
                    <label class="control-label" for="prioridade">Prioridade</label>
                    <div class="controls">
                        <div class="control-text"><!-- $prioridade --></div>
                    </div>
                </div>

                <div class="control-group entrada entrada_srv">
                    <label class="control-label" for="peso">Peso</label>
                    <div class="controls">
                        <div class="control-text"><!-- $peso --></div>
                    </div>
                </div>

                <div class="control-group entrada entrada_srv">
                    <label class="control-label" for="porta">Porta</label>
                    <div class="controls">
                        <div class="control-text"><!-- $porta --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="alvo">Alvo / Valor</label>
                    <div class="controls">
                        <div class="control-text"><!-- $alvo --></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Remover</button>
        <button class="btn btn-large btn-action-cancel" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cancelar</button>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        var tipo = $('#tipo').val();
        var classe = "entrada_" + tipo.toLowerCase();
        $(".entrada").hide();
        $("." + classe).show();
    });
</script>