<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <div class="control-text"><!-- $nome --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="plano_id">Mover para</label>
                    <div class="controls">
                        <select id="plano_id" name="plano_id" rel="<!-- $plano_id -->">
                            <!-- each ($planos) e2 -->
                            <!-- if ($e2(id) != $id) e3_$e2(id) -->
                            <option value="<!-- $e2.id -->"><!-- $e2.nome --></option>
                            <!-- end e3_$e2(id) -->
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>