<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="local">Local</label>
                    <div class="controls">
                        <div class="control-text"><!-- $local --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cep">CEP</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="cep" name="cep" alt="cep" value="<!-- $cep -->" readonly="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="logradouro">Endereço</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="logradouro" name="logradouro" value="<!-- $logradouro -->" readonly="">
                        <p class="help-block">Deverá ser informado se o endereço é Rua/Avenida/Quadra/Estrada/Praça e na sequência o logradouro, exemplo: "Av. Brasil" ou "Rua Acre"...</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="numero">Número</label>
                    <div class="controls">
                        <div class="control-text"><!-- $numero --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="complemento">Complemento</label>
                    <div class="controls">
                        <div class="control-text"><!-- $complemento --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="bairro">Bairro</label>
                    <div class="controls">
                        <div class="control-text"><!-- $bairro --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cidade">Cidade</label>
                    <div class="controls">
                        <div class="control-text"><!-- $cidade --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="estado">Estado</label>
                    <div class="controls">
                        <div class="control-text"><!-- $estado --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tipo_endereco_nome">Tipo</label>
                    <div class="controls">
                        <div class="control-text"><!-- $tipo_endereco_nome --></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>