<div class="widget widget-box">
    <div class="widget-content">
        <div>
            <a href="javascript:;" class="btn btn-small btn-primary btn-action-sublist-return" parent="<!-- $parent -->">Voltar</a>
            Você está cadastrando um registro de DNS do domínio <b><!-- $dominio_dominio --></b>.
        </div>
    </div>
</div>
<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <input type="hidden" id="dominio_id" name="dominio_id" value="<!-- $dominio_id -->">
            <input type="hidden" id="tipo" name="tipo" value="<!-- $tipo -->">
            <fieldset>

                <ul class="nav nav-tabs" id="tipoTab">
                    <li><a href="javascript:;" class="selected" data-toggle="tab">A</a></li>
                    <li><a href="javascript:;" data-toggle="tab">AAAA</a></li>
                    <li><a href="javascript:;" data-toggle="tab">CNAME</a></li>
                    <li><a href="javascript:;" data-toggle="tab">MX</a></li>
                    <li><a href="javascript:;" data-toggle="tab">TXT</a></li>
                    <li><a href="javascript:;" data-toggle="tab">SRV</a></li>
                    <li><a href="javascript:;" data-toggle="tab">SPF</a></li>
                    <li><a href="javascript:;" data-toggle="tab">NS</a></li>
                </ul>

                <div class="control-group">
                    <label class="control-label" for="valor">Nome</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="valor" name="valor" value="<!-- $valor -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="ttl">TTL</label>
                    <div class="controls">
                        <input type="text" class="input-small" alt="integer" id="ttl" name="ttl" value="<!-- $ttl -->">
                    </div>
                </div>

                <div class="control-group entrada entrada_mx entrada_srv">
                    <label class="control-label" for="prioridade">Prioridade</label>
                    <div class="controls">
                        <input type="text" class="input-small" alt="integer" id="prioridade" name="prioridade" value="<!-- $prioridade -->">
                    </div>
                </div>

                <div class="control-group entrada entrada_srv">
                    <label class="control-label" for="peso">Peso</label>
                    <div class="controls">
                        <input type="text" class="input-small" alt="integer" id="peso" name="peso" value="<!-- $peso -->">
                    </div>
                </div>

                <div class="control-group entrada entrada_srv">
                    <label class="control-label" for="porta">Porta</label>
                    <div class="controls">
                        <input type="text" class="input-small" alt="integer" id="porta" name="porta" value="<!-- $porta -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="alvo">Alvo / Valor</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="alvo" name="alvo" value="<!-- $alvo -->">
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Salvar</button>
        <button class="btn btn-large btn-action-cancel" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cancelar</button>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $('#tipoTab').tab();
        $('#tipoTab a').click(function (e) {
            e.preventDefault();
            $(".entrada").hide().find("input").val("").attr("disabled", "disabled");
            var tipo = $(this).text();
            var classe = "entrada_" + tipo.toLowerCase();
            $("#tipo").val(tipo);
            $("." + classe).show().find("input").removeAttr("disabled");
        });
        var ok = true;
        var selected = "<!-- $tipo -->";
        if (selected.length) {
            $('#tipoTab a').each(function() {
                if ($(this).text() == selected) {
                    $(this).click();
                    ok = false;
                }
            });
        }
        if (ok) {
            $('#tipoTab a.selected').click();
        }
    });
</script>