<!-- if ($spf != "") e1 -->
<div class="page-header">
    <h3>SPF</h3>
</div>
<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 20%;">Nome</th>
                <th style="width: 50px;">TTL</th>
                <th style="width: 20px;"></th>
                <th>Alvo / Valor</th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($spf) e2 -->
            <tr>
                <td><!-- $e2.valor --></td>
                <td><!-- $e2.ttl --></td>
                <td>IN</td>
                <td><!-- $e2.alvo --></td>
                <td>
                    <!-- if ($e2(remover) != "1") is_remover_$e2(id) -->
                    <button class="btn btn-mini disabled" title="Este registro não pode ser removido."><i class="btn-icon-only icon-ban-circle"></i></button>
                    <!-- else is_remover_$e2(id) -->
                    <button class="btn btn-mini btn-action-delete" rel="<!-- $e2.id -->" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->" title="Remover"><i class="btn-icon-only icon-remove"></i></button>
                    <!-- end is_remover_$e2(id) -->
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<!-- end e1 -->