<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <input type="hidden" name="pais" id="pais" value="<!-- $pais -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="local">Local</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="local" name="local" value="<!-- $local -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cep">CEP</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="cep" name="cep" alt="cep" value="<!-- $cep -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="logradouro">Endereço</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="logradouro" name="logradouro" value="<!-- $logradouro -->">
                        <p class="help-block">Deverá ser informado se o endereço é Rua/Avenida/Quadra/Estrada/Praça e na sequência o logradouro, exemplo: "Av. Brasil" ou "Rua Acre"...</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="numero">Número</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="numero" name="numero" alt="integer" value="<!-- $numero -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="complemento">Complemento</label>
                    <div class="controls">
                        <input type="text" class="input-large" id="complemento" name="complemento" value="<!-- $complemento -->">
                        <p class="help-block">Exemplo: "Apartamento 201, Bloco C" ou "Qd. D, Lote 7"...</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="bairro">Bairro</label>
                    <div class="controls">
                        <input type="text" class="input-large" id="bairro" name="bairro" value="<!-- $bairro -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cidade">Cidade</label>
                    <div class="controls">
                        <input type="text" class="input-large" id="cidade" name="cidade" value="<!-- $cidade -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="estado">Estado</label>
                    <div class="controls">
                        <input type="text" class="input-mini" maxlength="2" id="estado" name="estado" value="<!-- $estado -->">
                        <p class="help-block">Informar a UF do estado, exemplo: "RJ", "SP" ou "AM"...</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tipo_endereco_id">Tipo</label>
                    <div class="controls">
                        <select id="tipo_endereco_id" name="tipo_endereco_id" rel="<!-- $tipo_endereco_id -->">
                            <!-- each ($tipo_endereco) te -->
                            <option value="<!-- $te.id -->"><!-- $te.nome --></option>
                            <!-- end te -->
                        </select>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
<script type="text/javascript">
    $('#cep').blur(function() {
        var cep = $(this).val();
        if (cep.length > 0) {
            $.getJSON("/xhr.html?m=enderecos&editar&id=" + $("#id").val() + "&cep=" + cep, false, function(data) {
                if (data.retorno != false) {
                    $("#bairro").val(data.retorno.bairro);
                    $("#cidade").val(data.retorno.cidade);
                    $("#estado").val(data.retorno.uf);
                    $("#pais").val(data.retorno.pais);
                }
            }); 
        }
    });
</script>