<div class="widget">
    <div class="widget-content">
        <input type="hidden" id="id" name="id" value="<!-- $id -->">
        <fieldset>

            <div class="control-group">
                <label class="control-label" for="usuario_nome">Nome do Cliente</label>
                <div class="controls">
                    <div class="control-text"><!-- $usuario_nome --></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="usuario_email">E-mail / Usuário</label>
                <div class="controls">
                    <div class="control-text"><!-- $usuario_email --> (<!-- $usuario_zpanel_usuario -->)</div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="titulo">Título</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="titulo" name="titulo" value="<!-- $titulo -->" readonly="">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="questao">Questão</label>
                <div class="controls">
                    <textarea id="questao" class="input-xxlarge" name="questao" rows="3" readonly=""><!-- $questao --></textarea>
                </div>
            </div>

        </fieldset>
    </div>
</div>
<!-- import (layout/main/chamados/interacao.html) -->
<!-- if ($status less 3) ena2 -->
<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="resposta">Resposta</label>
                    <div class="controls">
                        <textarea id="resposta" class="input-xxlarge" name="resposta" rows="3"><!-- $resposta --></textarea>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
        <button rel="<!-- $id -->" class="btn btn-danger btn-large btn-action-delete">Encerrar Atendimento</button>
    </div>
</form>
<!-- else ena2 -->
<div class="form-actions">
    <button class="btn btn-large btn-action-cancel">Cancelar</button>
</div>
<!-- end ena2 -->