body {
    /*    background: #E9E9E9 url(../img/body-bg.png) repeat 0 0;*/
    background-color: #E9E9E9;
    font: 13px/1.7em 'Open Sans';
}

p {
    font: 13px/1.7em 'Open Sans';
}

input,
button,
select,
textarea {
    font-family: 'Open Sans';
}

.navbar {
    margin-bottom: 2.5em;
}

.table td {
    vertical-align: middle;
}

.panel {
    background: #FFF;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2em;
}

.panel-table .table {
    margin-bottom: 0;
    border: none;
}

.panel-table .table tr td:first-child {
    border-left: none;
}

.panel-table .table tr th:first-child {
    border-left: none;
}

.table-bordered th {
    background: #E9E9E9;
    background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
    background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
    background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";

    font-size: 10px;
    color: #444;
    text-transform: uppercase;
}

.navbar .container {
    position: relative;
}

.navbar-inner {
    padding: 7px 0;

    background: #292929;

    border-bottom: 1px solid #121212;

    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.navbar-fixed-top {
    position: static;
}

.navbar .nav a {
    font-size: 11px;
}

.navbar .brand {
    font-weight: 600;
    position: relative;
    top: 2px;
}

.navbar .search-query {
    background-color: #444;
    width: 150px;
    font-size: 11px;
    font-weight: bold;
}

.navbar .search-query::-webkit-input-placeholder {
    color: #666;
}

.navbar .search-query:-moz-placeholder {
    color: #666;
}

.main {
    padding-bottom: 2em;
}

.extra {

    border-top: 1px solid #585858;
    border-bottom: 1px solid #000;

}

.extra-inner {
    padding: 20px 0;

    font-size: 11px;
    color: #BBB;

    background: #1A1A1A;
}

.extra a {
    color: #666;
}

.extra h4 {
    margin-bottom: 1em;

    font-weight: 400;
}

.extra ul {
    padding: 0;
    margin: 0;
}

.extra li {
    margin-bottom: .6em;

    list-style: none;
}

.footer {
    margin-top: 0;

    border-top: 1px solid #292929;
}

.footer-inner {
    padding: 15px 0;

    font-size: 12px;
    background: #111;
    color: #999;
}

.footer a {
    color: #999;
}

.footer a:hover {
    color: #FFF;
    text-decoration: none;
}

.widget {

    position: relative;
    clear: both;

    width: auto;

    margin-bottom: 2em;

    overflow: hidden;
}

.widget-header {

    position: relative;

    height: 40px;
    line-height: 40px;

    background: #E9E9E9;
    background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
    background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
    background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";


    border: 1px solid #D5D5D5;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-background-clip: padding-box;
}

.widget-header h3 {

    position: relative;
    top: 2px;
    left: 10px;

    display: inline-block;
    margin-right: 3em;

    font-size: 14px;
    font-weight: 800;
    color: #555;
    line-height: 18px;

    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}

.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {

    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;

    font-size: 16px;
    color: #555;
    vertical-align: middle;



}




.widget-content {
    padding: 20px 15px 15px;

    background: #FFF;


    border: 1px solid #D5D5D5;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget-header+.widget-content {
    border-top: none;

    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.widget-nopad .widget-content {
    padding: 0;
}

/* Widget Content Clearfix */
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
    padding: 0;
}

.widget-table .table {
    margin-bottom: 0;

    border: none;
}

.widget-table .table tr td:first-child {
    border-left: none;
}

.widget-table .table tr th:first-child {
    border-left: none;
}


/* Widget Plain */

.widget-plain {

    background: transparent;

    border: none;
}

.widget-plain .widget-content {
    padding: 0;

    background: transparent;

    border: none;
}


/* Widget Box */

.widget-box {

}

.widget-box .widget-content {
    background: #E3E3E3;
    background: #FFF;
}

.error-container {
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
}

.error-container h1 {
    margin-bottom: .5em;

    font-size: 120px;
    line-height: 1em;
}

.error-container h2 {
    margin-bottom: .75em;
    font-size: 28px;
}

.error-container .error-details {
    margin-bottom: 1.5em;

    font-size: 16px;
}

.error-container .error-actions a {
    margin: 0 .5em;
}

.chart-holder {
    width: 100%;
    height: 250px;
}

.hero-unit-small{padding:30px;margin-bottom:30px;background-color:#eeeeee;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}.hero-unit h1{margin-bottom:0;font-size:60px;line-height:1;color:inherit;letter-spacing:-1px;}

.hero-unit-small p{font-size:18px;font-weight:200;line-height:27px;color:inherit;}

.hero-red {
    color: #fff;
    background-color: #bd362f;
    padding: 30px;
    margin-top:30px;
}

.found-small,
.found-small a,
.found-medium,
.found-medium a,
.found-full,
.found-full a {
    color: #fff;
}

.found-small {
    background-color: #ea494a;
}

.found-medium {
    background-color: #ffa93c;
}

.found-full {
    background-color: #4cb158;
}

[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
}

span i.btn-icon-only {
    vertical-align: text-top;
}