<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>E-mail</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($emails) e2 -->
            <tr>
                <td><!-- $e2.endereco --></td>
                <td>
                    <!-- if ($e2(bloqueado) == "1") is_bloqueado_$e2(id) -->
                    <span class="label label-important" title="Este e-mail está bloqueado">
                        <i class="btn-icon-only icon-white icon-ban-circle"></i>
                    </span>
                    <button class="btn btn-small btn-danger disabled" title="Este e-mail está bloqueado."><i class="btn-icon-only icon-ban-circle"></i></button>
                    <!-- else is_bloqueado_$e2(id) -->
                    <span class="label label-success" title="Ativo">
                        <i class="btn-icon-only icon-white icon-ok"></i>
                    </span>
                    <!-- end is_bloqueado_$e2(id) -->
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="http://<!-- $e2.webmail -->">Acessar Webmail</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-update">Editar</a></li>
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-delete">Remover</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>