<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="endereco">E-mail</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="endereco" name="endereco" value="<!-- $endereco -->">
                        @
                        <select id="dominio_id" name="dominio_id" rel="<!-- $dominio_id -->">
                            <!-- each ($dominios) e6 -->
                            <option value="<!-- $e6.id -->"><!-- $e6.dominio --></option>
                            <!-- end e6 -->
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="email_id">E-mail de destino</label>
                    <div class="controls">
                        <select id="email_id" name="email_id" rel="<!-- $email_id -->">
                            <!-- each ($emails) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.endereco --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>