<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="endereco">E-mail</label>
                    <div class="controls">
                        <div class="control-text"><!-- $endereco --></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="alert alert-danger">
        <h4>Atenção!</h4>
        Os membros associados a este grupo de e-mail serão removidos permanentemente!
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>