

<div class="row">

    <div class="span12">

        <div class="widget">

            <div class="widget-header">
                <i class="icon-th-large"></i>
                <h3>Choose Your Plan</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <div class="pricing-plans plans-4">

                    <div class="plan-container">
                        <div class="plan">
                            <div class="plan-header">

                                <div class="plan-title">
                                    Micro	        		
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    <span class="note">$</span>15<span class="term">Per Month</span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->	        

                            <div class="plan-features">
                                <ul>
                                    <li><strong>Free</strong> setup</li>
                                    <li><strong>1</strong> Website</li>
                                    <li><strong>2</strong> Projects</li>
                                    <li><strong>1GB</strong> Storage</li>
                                    <li><strong>$0</strong> Google Adwords Credit</li>
                                </ul>
                            </div> <!-- /plan-features -->

                            <div class="plan-actions">				
                                <a href="javascript:;" class="btn">Purchase Now</a>				
                            </div> <!-- /plan-actions -->

                        </div> <!-- /plan -->
                    </div> <!-- /plan-container -->

                    <div class="plan-container">
                        <div class="plan">
                            <div class="plan-header">

                                <div class="plan-title">
                                    Starter	        		
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    <span class="note">$</span>35<span class="term">Per Month</span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->       

                            <div class="plan-features">
                                <ul>
                                    <li><strong>Free</strong> setup</li>
                                    <li><strong>5</strong> Website</li>
                                    <li><strong>10</strong> Projects</li>
                                    <li><strong>5GB</strong> Storage</li>
                                    <li><strong>$25</strong> Google Adwords Credit</li>
                                </ul>
                            </div> <!-- /plan-features -->

                            <div class="plan-actions">				
                                <a href="javascript:;" class="btn">Purchase Now</a>				
                            </div> <!-- /plan-actions -->

                        </div> <!-- /plan -->
                    </div> <!-- /plan-container -->

                    <div class="plan-container">
                        <div class="plan orange">
                            <div class="plan-header">

                                <div class="plan-title">
                                    Business	        		
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    <span class="note">$</span>75<span class="term">Per Month</span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->	          

                            <div class="plan-features">
                                <ul>					
                                    <li><strong>Free</strong> setup</li>
                                    <li><strong>20</strong> Website</li>
                                    <li><strong>35</strong> Projects</li>
                                    <li><strong>Unlimited</strong> Storage</li>
                                    <li><strong>$65</strong> Google Adwords Credit</li>
                                </ul>
                            </div> <!-- /plan-features -->

                            <div class="plan-actions">				
                                <a href="javascript:;" class="btn">Purchase Now</a>				
                            </div> <!-- /plan-actions -->

                        </div> <!-- /plan -->
                    </div> <!-- /plan-container -->

                    <div class="plan-container">
                        <div class="plan">
                            <div class="plan-header">

                                <div class="plan-title">
                                    Enterprise	        		
                                </div> <!-- /plan-title -->

                                <div class="plan-price">
                                    <span class="note">$</span>125<span class="term">Per Month</span>
                                </div> <!-- /plan-price -->

                            </div> <!-- /plan-header -->	       

                            <div class="plan-features">
                                <ul>
                                    <li><strong>Free</strong> setup</li>
                                    <li><strong>Unlimited</strong> Website</li>
                                    <li><strong>Unlimited</strong> Projects</li>
                                    <li><strong>Unlimited</strong> Storage</li>
                                    <li><strong>$95</strong> Google Adwords Credit</li>
                                </ul>
                            </div> <!-- /plan-features -->

                            <div class="plan-actions">				
                                <a href="javascript:;" class="btn">Purchase Now</a>				
                            </div> <!-- /plan-actions -->

                        </div> <!-- /plan -->

                    </div> <!-- /plan-container -->


                </div> <!-- /pricing-plans -->

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->					

    </div> <!-- /span12 -->     	


</div> <!-- /row -->
