<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($usuarios) e2 -->
            <tr>
                <td><!-- $e2.email --><!-- if ($e2(zpanel_usuario) != "") is_zpanel_$e2(id) --> (<!-- $e2.zpanel_usuario -->)<!-- end is_zpanel_$e2(id) --></td>
                <td>
                    <!-- if ($e2(plano_id) == "") is_plano_$e2(id) -->
                    <span class="label label-inverse" title="Nenhum plano associado no momento">
                        <i class="btn-icon-only icon-white icon-minus"></i>
                    </span>
                    <!-- else is_plano_$e2(id) -->
                    <span class="label label-info" title="Plano: <!-- $e2.plano_nome -->">
                        <i class="btn-icon-only icon-white icon-info-sign"></i>
                    </span>
                    <!-- end is_plano_$e2(id) -->
                </td>
                <td>
                    <!-- if ($e2(bloqueado) == "1") is_bloqueado_$e2(id) -->
                    <span class="label label-important" title="Bloqueado em <!-- $e2.bloqueado_data -->: <!-- $e2.motivo -->">
                        <i class="btn-icon-only icon-white icon-ban-circle"></i>
                    </span>
                    <!-- else is_bloqueado_$e2(id) -->
                        <!-- if ($e2(bloqueado_saldo) == "1") is_bloqueado_saldo_$e2(id) -->
                        <span class="label label-important" title="Bloqueado em <!-- $e2.bloqueado_saldo_data -->: Saldo insuficiente!">
                            <i class="btn-icon-only icon-white icon-ban-circle"></i>
                        </span>
                        <!-- else is_bloqueado_saldo_$e2(id) -->
                        <span class="label label-success" title="Ativo">
                            <i class="btn-icon-only icon-white icon-ok"></i>
                        </span>
                        <!-- end is_bloqueado_saldo_$e2(id) -->
                    <!-- end is_bloqueado_$e2(id) -->
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <!-- if ($e2(plano_id) != "") is_admin_$e2(id) -->
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-administrar">Administrar</a></li>
                            <!-- end is_admin_$e2(id) -->
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-update">Editar</a></li>
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-delete">Remover</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(".btn-action-administrar").click(function() {
        var id = $(this).attr("rel");
        if (id.length > 0) {
            window.location = $.url() + "&administrar&id=" + id;
        }
        return false;
    });
</script>