<!-- if ($crp_cobranca_aberto != "") lbl1 -->
<div class="row">
    <div class="span12">
        <div class="alert alert-danger">
            <h4>Atenção!</h4>
            <p>
                Existem cobranças em aberto a serem pagas!<br />
                <a href="?m=cobrancas" class="btn btn-mini btn-info">Saber mais</a>
            </p>
        </div>
    </div>
</div>
<!-- end lbl1 -->