<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($dominios) e2 -->
            <tr>
                <td><!-- $e2.dominio --></td>
                <td>
                    <!-- if ($e2(online) == "1") is_online_$e2(id) -->
                    <span class="label label-success" title="Ativo">
                        <i class="btn-icon-only icon-white icon-ok"></i>
                    </span>
                    <!-- else is_online_$e2(id) -->
                    <span class="label label-info" title="Seu domínio está sendo processado, isto pode demorar alguns minutos.">
                        <i class="btn-icon-only icon-white icon-refresh"></i>
                    </span>
                    <!-- end is_online_$e2(id) -->
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" children="subdominios" class="btn-action-sublist">Subdomínios</a></li>
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" children="dns" class="btn-action-sublist">DNS</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-update">Editar</a></li>
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-delete">Remover</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>