<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="dominio">Domínio</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge editando" id="dominio" name="dominio" value="<!-- $dominio -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="estacionado">Estacionado</label>
                    <div class="controls">
                        <input type="checkbox" id="estacionado" name="estacionado" rel="<!-- $estacionado -->" value="1" class="editando">
                    </div>
                </div>

                <div class="no_parked">

                    <div class="control-group">
                        <label class="control-label" for="redirect">Redirecionado</label>
                        <div class="controls">
                            <input type="checkbox" id="redirect" name="redirect" rel="<!-- $redirect -->" value="1" class="editando">
                        </div>
                    </div>

                    <div class="control-group hide">
                        <label class="control-label" for="redirecionar">Redirecionar para</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge editando" id="redirecionar" name="redirecionar" value="<!-- $redirecionar -->">
                        </div>
                    </div>

                    <div class="no_redirect">

                        <div class="control-group">
                            <label class="control-label" for="mirror">Espelhado</label>
                            <div class="controls">
                                <input type="checkbox" id="mirror" name="mirror" rel="<!-- $mirror -->" value="1" class="editando">
                            </div>
                        </div>

                        <div class="control-group hide">
                            <label class="control-label" for="diretorio">Espelhar em</label>
                            <div class="controls">
                                <select id="diretorio" name="diretorio" rel="<!-- $diretorio -->" disabled="">
                                    <!-- each ($dominios) e2 -->
                                    <!-- if ($e2(mirror) == "") e4_$e2(id) -->
                                    <!-- if ($e2(id) != $id) id1_$e2(id) -->
                                    <option value="<!-- $e2.diretorio -->"><!-- $e2.dominio --></option>
                                    <!-- end id1_$e2(id) -->
                                    <!-- end e4_$e2(id) -->
                                    <!-- end e2 -->
                                    <!-- each ($subdominios) e3 -->
                                    <!-- if ($e3(mirror) == "") e5_$e3(id) -->
                                    <!-- if ($e3(id) != $id) id2_$e3(id) -->
                                    <option value="<!-- $e3.diretorio -->"><!-- $e3.subdominio --></option>
                                    <!-- end id2_$e3(id) -->
                                    <!-- end e5_$e3(id) -->
                                    <!-- end e3 -->
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" name="www" class="www editando" value="1" rel="<!-- $www -->">
                                    Corrigir o endereço de <b>dominio.com</b> para <b>www.dominio.com</b>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="www" class="www editando" value="2" rel="<!-- $www -->">
                                    Corrigir o endereço de <b>www.dominio.com</b> para <b>dominio.com</b>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="www" class="www editando" value="3" rel="<!-- $www -->">
                                    Não corrigir o endereço <i>(ambos irão funcionar)</i>
                                </label>
                            </div>
                        </div>

                    </div>

                </div>

            </fieldset>
        </div>
    </div>
    <div class="alert alert-danger">
        <h4>Atenção!</h4>
        Os serviços associados a este domínio serão removidos permanentemente!
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
<script type="text/javascript">
    $("#estacionado").change(function() {
        $(".no_parked").removeClass("hide");
        if ($(this).is(":checked")) {
            $(".no_parked").addClass("hide");
        }
    });
    $("#redirect").change(function() {
        $(".no_redirect").removeClass("hide");
        $("#redirecionar").parent().parent().addClass("hide");
        if ($(this).is(":checked")) {
            $(".no_redirect").addClass("hide");
            $("#redirecionar").parent().parent().removeClass("hide");
        }
    });
    $("#mirror").change(function() {
        $("#diretorio").parent().parent().addClass("hide");
        if ($(this).is(":checked")) {
            $("#diretorio").parent().parent().removeClass("hide");
        }
    });
    (function($) {
        $(document).ready(function() {
            $("input.editando").attr("disabled", "");
        });
    })(jQuery);
</script>