<!-- if ($assinar != "") e1 -->
<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<!-- import (layout/main/assinatura/assinar.html) -->
<!-- else e1 -->
<div class="hero-unit hero-red">
    <h2>Planos +15</h2>
    <p>Com estes planos você ganha 15 dias em bônus para poder testar nossos serviços!</p>
</div>
<div class="row">
    <!-- if ($off == "") e2 -->
    <div class="span12">
        <div class="pricing-plans plans-4">
            <!-- each ($hospedagem) host1 -->
            <div class="plan-container">
                <div class="plan <!-- $host1.destaque -->">
                    <div class="plan-header">
                        <div class="plan-title"><!-- $host1.nome --></div>
                        <div class="plan-price">
                            <span class="note">R$</span><!-- $host1.valor_arredondado --><span class="term">por mês</span>
                        </div>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Domínios <strong>Ilimitados!</strong></li>
                            <li><strong><!-- $host1.total_email --></strong> contas de e-mail <strong class="detalhe-oculto">com 5 GBytes</strong></li>
                            <li><strong><!-- $host1.total_quota_disco --></strong> GBytes de espaço em disco</li>
                            <li><strong><!-- $host1.total_quota_transferencia --></strong> GBytes de transferência mensal</li>
                            <li class="detalhe-oculto">Bancos de dados MySQL® <strong>Ilimitados!</strong></li>
                            <li class="detalhe-oculto">Subdomínios <strong>Ilimitados!</strong></li>
                            <li class="detalhe-oculto">Redirecionamentos de e-mail <strong>Ilimitados!</strong></li>
                            <li class="detalhe-oculto">Grupos de e-mail <strong>Ilimitados!</strong></li>
                            <li class="detalhe-oculto">Contas de FTP <strong>Ilimitados!</strong></li>
                            <li class="detalhe-oculto"><strong>Planos Configuráveis</strong></li>
                            <li class="plan-btn-detalhes"><a href="javascript:;" class="btn-action-detalhes">mais detalhes</a></li>
                        </ul>
                    </div>
                    <div class="plan-actions">
                        <a href="javascript:;" rel="<!-- $host1.id -->" parent="assinatura" class="btn btn-danger btn-action-assinar">Assinar</a>
                    </div>
                </div>
            </div>
            <!-- end host1 -->
        </div>
    </div>
    <script type="text/javascript">
        $(".btn-action-detalhes").click(function() {
            $(this).parent().parent().find(".detalhe-oculto").fadeIn("slow");
            $(this).parent().remove();
        });
<!-- if ($assinar == "") na2 -->
        $(".btn-action-assinar").click(function() {
            var id = $(this).attr("rel");
            if (id.length > 0) {
                window.location = $.url() + "&assinar&id=" + id;
            }
            return false;
        });
<!-- end na2 -->
    </script>
    <!-- else e2 -->
    <div class="hero-unit">
        <h2>Desculpe!</h2>
        <p>Nenhum plano de hospedagem disponível no momento.</p>
    </div>
    <!-- end e2 -->
</div>
<!-- end e1 -->