<!-- if ($administrar != "") f3 -->
<!-- import (layout/main/clientes/administrar.html) -->
<!-- else f3 -->
<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span8">
        <!-- if ($formulario == "") f1 -->
        <!-- if ($usuarios != "") e1 -->
        <!-- import (layout/main/clientes/listar.html) -->
        <!-- else e1 -->
        <!-- import (layout/vazio.html) -->
        <!-- end e1 -->
        <!-- else f1 -->
        <!-- if ($remover != "") f2 -->
        <!-- import (layout/main/clientes/remover.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/clientes/editar.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
    <div class="span4">
        <!-- if ($usuarios != "") e2 -->
        <!-- if ($formulario != 1) f2 -->
        <a href="javascript:;" class="btn btn-large btn-warning btn-action-new">Cadastrar!</a>	
        <!-- else f2 -->
        <!-- if ($id != "") g3 -->
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="<!-- $gravatar -->" alt="Seu Gravatar!" title="Seu Gravatar!" />
                </div>
                <div style="text-align: right; padding-top: 5px;">
                    <h5>Powered by <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>.</h5>
                </div>
            </li>
        </ul>
        <!-- end g3 -->
        <!-- end f2 -->
        <!-- end e2 -->
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>
<!-- end f3 -->