<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<!-- if ($formulario == "") f1 -->
<div class="row">
    <div class="span8">
        <!-- if ($formulario != "") new -->
        <!-- import (layout/main/cobrancas/inserir.html) -->
        <!-- else new -->
        <!-- if ($crp_cobrancas != "") e1 -->
        <!-- import (layout/main/cobrancas/listar.html) -->
        <!-- else e1 -->
        <!-- import (layout/vazio.html) -->
        <!-- end e1 -->
        <!-- import (layout/main/cobrancas/historico.html) -->
        <!-- end new -->
    </div>
    <div class="span4">
        <a href="javascript:;" class="btn btn-large btn-warning btn-action-new">Inserir Créditos!</a>
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>
<!-- else f1 -->
<!-- import (layout/main/cobrancas/editar.html) -->
<!-- end f1 -->