<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-content">
                <h3>O que você deseja saber?</h3>
                <br />
                <ol class="faq-list">
                    <!-- each ($faq) aa1 -->
                    <li>
                        <h4><!-- $aa1.titulo --></h4>
                        <p><!-- decode($aa1.resposta) --></p>
                    </li>
                    <!-- end aa1 -->
                </ol>
                <br />
                <p>
                    <a class="btn btn-primary btn-large btn-action-suporte">Ir para Central de Atendimento</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="js/faq.js"></script>
<script>
    $(function () {
        $('.faq-list').goFaq({
            question: "<!-- decode($q) -->"
        });
    });
</script>