<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span8">
        <!-- if ($formulario == "") f1 -->
        <div class="widget widget-box">
            <div class="widget-content">
                <div>
                    <a href="javascript:;" class="btn btn-small btn-primary btn-action-sublist-return" parent="<!-- $parent -->">Voltar</a>
                    Estes são os membros cadastrados ao grupo de distribuição de e-mail <b><!-- $lista_email_endereco --></b>.
                </div>
            </div>
        </div>
        <!-- if ($listas_email_membros != "") e1 -->
        <!-- import (layout/main/listas_email_membros/listar.html) -->
        <!-- else e1 -->
        <!-- import (layout/vazio.html) -->
        <!-- end e1 -->
        <!-- else f1 -->
        <!-- if ($remover != "") f2 -->
        <!-- import (layout/main/listas_email_membros/remover.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/listas_email_membros/editar.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
    <div class="span4">
        <!-- if ($listas_email_membros != "") e2 -->
        <!-- if ($formulario != 1) f2 -->
        <a href="javascript:;" class="btn btn-large btn-warning btn-action-new" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cadastrar!</a>
        <!-- end f2 -->
        <!-- end e2 -->
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>