<div class="page-header">
    <h2><!-- $layout_titulo --></h2>
</div>
<div class="row">
    <div class="span8">
        <!-- if ($formulario == "inserir") f1 -->
        <!-- import (layout/main/saldo/inserir.html) -->
        <!-- else f1 -->
        <!-- if ($formulario == "historico") f2 -->
        <!-- import (layout/main/saldo/historico.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/saldo/transacoes.html) -->
        <!-- import (layout/main/saldo/debitos.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
    <div class="span4">
        <div class="widget widget-box">
            <div class="widget-content">
                <h4 style="text-align: center;">Plano</h4>
                <h3 style="text-align: center; color: #ffa93c;"><!-- ^logon.plano_nome --></h3>
                <h4 style="text-align: center;">Mensalidade</h4>
                <h3 style="text-align: center; color: #ffa93c;">R$ <!-- ^logon.plano_valor_br --></h3>
                <h4 style="text-align: center;">Consumo Diário</h4>
                <h3 style="text-align: center; color: #ffa93c;">R$ <!-- $valor_diario_br --></h3>
                <h4 style="text-align: center;">Saldo Atualizado</h4>
                <h2 style="text-align: center; color: #bd362f;">R$ <!-- $saldo_br --></h2>
            </div>
        </div>
        <!-- if ($formulario != "inserir") f3 -->
        <!--<a href="javascript:;" class="btn btn-large btn-danger btn-action-new">Inserir Crédito!</a>-->
        <!-- end f3 -->
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
</div>