<form autocomplete="off" method="post" action="http://<!-- $host -->/index.php" class="form-horizontal">
    <input type="hidden" id="inUsername" name="inUsername" value="<!-- $usuario -->">
    <input type="hidden" id="inPassword" name="inPassword" value="<!-- $senha -->">
    <input type="hidden" id="sublogin2" name="sublogin2" value="LogIn">
    <div class="hero-unit">
        <h2><!-- $layout_titulo --></h2>
        <p>Clique no botão abaixo para acessar o painel administrativo...</p>
        <br />
        <p>
            <button type="submit" class="btn btn-primary btn-large">Acessar Administração</button>
        </p>
    </div>
</form>