<form autocomplete="off" method="post" class="form-horizontal">
    <input type="hidden" id="id" name="id" value="<!-- $id -->">
    <div class="hero-unit">
        <h2><!-- $layout_titulo --></h2>
        <p>Clique no botão abaixo para administrar o cliente <b><!-- $nome --> (<!-- $email --> / <!-- if ($zpanel_usuario != "") lzu --><!-- $zpanel_usuario --><!-- end lzu -->)</b>...</p>
        <br />
        <p>
            <button type="submit" class="btn btn-primary btn-large">Acessar Administração</button>
            <button class="btn btn-large btn-action-cancel">Cancelar</button>
        </p>
    </div>
</form>