<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="nome" name="nome" value="<!-- $nome -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">@</span>
                            <input type="text" id="email" name="email" value="<!-- $email -->">
                        </div>
                    </div>
                </div>

                <!-- import (layout/senha.html) -->

                <!-- if ($id != "") c2 -->
                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text">* Senha criptografada, impossível visualizar novamente.</div>
                    </div>
                </div>
                <!-- end c2 -->

                <div class="control-group">
                    <label class="control-label" for="telefone">Telefone</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="telefone" name="telefone" alt="phone" value="<!-- $telefone -->">
                    </div>
                </div>

                <!-- if ($id != "") bq1 -->
                <div class="control-group">
                    <label class="control-label" for="bloqueado">Bloqueado</label>
                    <div class="controls">
                        <input type="checkbox" id="bloqueado" name="bloqueado" rel="<!-- $bloqueado -->" value="1">
                    </div>
                </div>

                <div class="control-group hide">
                    <label class="control-label" for="motivo">Motivo</label>
                    <div class="controls">
                        <textarea id="motivo" name="motivo" rows="3"><!-- $motivo --></textarea>
                    </div>
                </div>
                <!-- end bq1 -->

            </fieldset>

            <!-- if ($plano_nome != "") en1 -->
            <fieldset>
                <legend>Assinatura</legend>

                <!-- if ($zpanel_usuario != "") lzu -->
                <div class="control-group">
                    <label class="control-label" for="zpanel_usuario">Conta</label>
                    <div class="controls">
                        <div class="control-text"><!-- $zpanel_usuario --></div>
                    </div>
                </div>
                <!-- end lzu -->

                <div class="control-group">
                    <label class="control-label" for="plano_nome">Plano</label>
                    <div class="controls">
                        <div class="control-text"><!-- $plano_nome --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="plano_valor_br">Mensalidade</label>
                    <div class="controls">
                        <div class="control-text">R$ <!-- $plano_valor_br --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="saldo_br">Saldo Atual</label>
                    <div class="controls">
                        <div class="control-text">R$ <!-- $saldo_br --></div>
                    </div>
                </div>

                <!-- if ($bloqueado_saldo == "1") en1 -->
                <div class="control-group">
                    <label class="control-label" for="bloqueado_saldo">Bloqueado</label>
                    <div class="controls">
                        <div class="control-text">Sua conta está bloqueada desde <!-- $bloqueado_saldo_data --> por não haver saldo suficiente.</div>
                    </div>
                </div>
                <!-- end en1 -->

            </fieldset>
            <!-- end en1 -->


        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
<script type="text/javascript">

    $("#bloqueado").change(function() {
        $("#motivo").parent().parent().addClass("hide");
        if ($(this).is(":checked")) {
            $("#motivo").parent().parent().removeClass("hide");
        }
    });

</script>