<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <div class="control-text"><!-- $nome --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <div class="control-text"><!-- $email --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="telefone">Telefone</label>
                    <div class="controls">
                        <div class="control-text"><!-- $telefone --></div>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Assinatura</legend>

                <!-- if ($zpanel_usuario != "") lzu -->
                <div class="control-group">
                    <label class="control-label" for="zpanel_usuario">Conta</label>
                    <div class="controls">
                        <div class="control-text"><!-- $zpanel_usuario --></div>
                    </div>
                </div>
                <!-- end lzu -->

                <div class="control-group">
                    <label class="control-label" for="plano_nome">Plano</label>
                    <div class="controls">
                        <div class="control-text"><!-- $plano_nome --> (R$ <!-- $plano_valor_br -->)</div>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Exclusão</legend>

                <div class="control-group">
                    <label class="control-label" for="motivo">Motivo</label>
                    <div class="controls">
                        <textarea id="motivo" name="motivo" rows="3"><!-- $motivo --></textarea>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="alert alert-danger">
        <h4>Atenção!</h4>
        Os serviços pertencem a este cliente serão removidos permanentemente!
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>