<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <!-- if ($id == "") c1 -->

                <div class="control-group">
                    <label class="control-label" for="usuario">Usuário</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><!-- $zpanel_usuario -->_</span>
                            <input type="text" class="input-medium" maxlength="9" id="usuario" name="usuario" value="<!-- $usuario -->">
                            <p class="help-block">Somente letras e números.</p>
                        </div>
                    </div>
                </div>

                <!-- else c1 -->

                <div class="control-group">
                    <label class="control-label" for="usuario">Usuário</label>
                    <div class="controls">
                        <div class="control-text"><!-- $usuario --></div>
                    </div>
                </div>

                <!-- end c1 -->

                <!-- import (layout/senha.html) -->

                <!-- if ($id == "") c2 -->

                <div class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="autohome" class="rdautohome" value="2" rel="<!-- $autohome -->">
                            Usar o diretório raiz
                        </label>
                        <label class="radio">
                            <input type="radio" name="autohome" class="rdautohome" value="3" rel="<!-- $autohome -->">
                            Usar um diretório existente
                        </label>
                        <label class="radio">
                            <input type="radio" name="autohome" class="rdautohome" value="1" rel="<!-- $autohome -->">
                            Criar diretório
                        </label>
                    </div>
                </div>

                <div class="control-group diretorios hide" id="diretorio_3">
                    <label class="control-label" for="diretorio">Diretório</label>
                    <div class="controls">
                        <select id="diretorio" name="diretorio" rel="<!-- $diretorio -->">
                            <!-- each ($diretorios) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.diretorio --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tipo_acesso_id">Tipo de acesso</label>
                    <div class="controls">
                        <select id="tipo_acesso_id" name="tipo_acesso_id" rel="<!-- $tipo_acesso_id -->">
                            <!-- each ($tipo_acesso) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.nome --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

                <!-- else c2 -->

                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text"><!-- $senha --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="diretorio">Diretório</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge editando" id="diretorio" name="diretorio" value="<!-- $diretorio -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tipo_acesso_nome">Tipo de acesso</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge editando" id="tipo_acesso_nome" name="tipo_acesso_nome" value="<!-- $tipo_acesso_nome -->">
                    </div>
                </div>

                <!-- end c2 -->

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
<script type="text/javascript">
    
    $(".rdautohome").change(function() {
        $(".diretorios").addClass("hide");
        if ($(this).is(":checked")) {
            $("#diretorio_" + $(this).val()).removeClass("hide");
        }
    });
    
    <!-- if ($id != "") c2 -->
    $("input.editando").attr("readonly", "")
    <!-- end c2 -->
    
</script>