<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <!-- if ($id == "") c1 -->

                <div class="control-group">
                    <label class="control-label" for="usuario">Usuário</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><!-- $zpanel_usuario -->_</span>
                            <input type="text" class="input-medium" maxlength="9" id="usuario" name="usuario" value="<!-- $usuario -->">
                            <p class="help-block">Somente letras e números.</p>
                        </div>
                    </div>
                </div>

                <!-- else c1 -->

                <div class="control-group">
                    <label class="control-label" for="usuario">Usuário</label>
                    <div class="controls">
                        <div class="control-text"><!-- $usuario --></div>
                    </div>
                </div>

                <!-- end c1 -->

                <!-- import (layout/senha.html) -->

                <!-- if ($id == "") c2 -->

                <div class="control-group">
                    <label class="control-label" for="mysql_id">Banco de dados</label>
                    <div class="controls">
                        <select id="mysql_id" name="mysql_id" rel="<!-- $mysql_id -->">
                            <!-- each ($mysql) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.nome --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="acesso_tipo" class="rdacesso_tipo" value="1" rel="<!-- $acesso_tipo -->">
                            Permitir acesso a partir de qualquer IP
                        </label>
                        <label class="radio">
                            <input type="radio" name="acesso_tipo" class="rdacesso_tipo" value="2" rel="<!-- $acesso_tipo -->">
                            Somente a partir de IP único
                        </label>
                    </div>
                </div>

                <div class="control-group acesso_tipo hide" id="acesso_tipo_2">
                    <label class="control-label" for="acesso">Endereço IP</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="acesso" name="acesso" value="<!-- $acesso -->">
                    </div>
                </div>

                <!-- else c2 -->

                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text"><!-- $senha --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="acesso_nome">Acesso permitido</label>
                    <div class="controls">
                        <div class="control-text"><!-- $acesso --></div>
                    </div>
                </div>

                <!-- end c2 -->

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>
<script type="text/javascript">

    $(".rdacesso_tipo").change(function() {
        $(".acesso_tipo").addClass("hide");
        if ($(this).is(":checked")) {
            $("#acesso_tipo_" + $(this).val()).removeClass("hide");
        }
    });

</script>