<div class="row">
    <div class="span4">
        <div class="widget">
            <div class="widget-content">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="codigo">Cobrança:</label>
                        <div class="controls">
                            <div class="control-text"><!-- $codigo --></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="lancamento_br">Lançamento</label>
                        <div class="controls">
                            <div class="control-text"><!-- $lancamento_br --></div>
                        </div>
                    </div>

<!--                    <div class="control-group">
                        <label class="control-label" for="vencimento_br">Vencimento</label>
                        <div class="controls">
                            <div class="control-text"> $vencimento_br </div>
                        </div>
                    </div>-->

                    <div class="control-group">
                        <label class="control-label" for="valor_br">Valor</label>
                        <div class="controls">
                            <div class="control-text">R$ <!-- $valor_br --></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="crp_tipo_pagamento_status_nome">Estado:</label>
                        <div class="controls">
                            <div class="control-text"><!-- $crp_tipo_pagamento_status_titulo --></div>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
        <!-- if ($crp_tipo_pagamento_id != "") tpid -->
        <div class="page-header">
            <h4>Forma de Pagamento</h4>
        </div>
        <div class="widget">
            <div class="widget-content">
                <p style="text-align: center;"><img src="img/<!-- $crp_tipo_pagamento_imagem -->" alt="<!-- $crp_tipo_pagamento_nome -->" /></p>
            </div>
        </div>
        <!-- if ($crp_tipo_pagamento_id == "2") pgs1 -->
        <!-- import (layout/main/cobrancas/pgs_transacao.html) -->
        <!-- end pgs1 -->
        <!-- end tpid -->
        <a href="javascript:;" rel="<!-- $layout_faq -->" class="btn btn-large btn-action-faq">Ajuda?</a>
    </div>
    <div class="span8">
        <!-- import (layout/main/cobrancas/saldo.html) -->
        <!-- if ($crp_tipo_pagamento_status_id != "1") pg2 -->
        <div class="form-actions">
            <button class="btn btn-large btn-action-cancel">Cancelar</button>
        </div>
        <!-- else pg2 -->
        <form autocomplete="off" method="post" class="form-horizontal">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <div class="alert alert-danger">
                <h4>Atenção!</h4>
                Assim que você clica em "Efetuar Pagamento" você vai ser redirecionado para o site do Pagseguro, e após efetuar a transação você será redirecionado de volta a esta página.
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-large btn-action-save">Efetuar Pagamento</button>
                <button class="btn btn-large btn-action-cancel">Cancelar</button>
            </div>
        </form>
        <!-- end pg2 -->
    </div>
</div>