<!-- if ($historico != "") e1 -->
<div class="page-header">
    <h4>Histórico Financeiro</h4>
</div>
<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 20%;">Lançamento</th>
                <th>Descrição</th>
                <th style="width: 15%;">Valor</th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($historico) e2 -->
            <tr>
                <td><!-- $e2.lancamento_br --></td>
                <td><!-- $e2.descricao --></td>
                <td style="text-align: right;">R$ <!-- $e2.valor2_br --></td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<!-- end e1 -->