<!-- if ($pgs_transacoes != "") e1 -->
<div class="page-header">
    <h4>Histórico de Transações</h4>
</div>
<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 40%;">Lançamento</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($pgs_transacoes) e2 -->
            <tr>
                <td><!-- $e2.cadastrado_br --></td>
                <td><!-- $e2.pgs_tipo_status_nome --></td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<!-- end e1 -->