<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="usuario">Usuário</label>
                    <div class="controls">
                        <div class="control-text"><!-- $usuario --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="senha_atual">Senha atual</label>
                    <div class="controls">
                        <div class="control-text"><!-- $senha --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="acesso_nome">Acesso permitido</label>
                    <div class="controls">
                        <div class="control-text"><!-- $acesso --></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="alert alert-block">
        <h4>Atenção!</h4>
        Esta operação irá desassociar todos os bancos de dados vinculados a este usuário!
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>