<div class="widget widget-box">
    <div class="widget-content">
        <div>
            <a href="javascript:;" class="btn btn-small btn-primary btn-action-sublist-return" parent="<!-- $parent -->">Voltar</a>
            Você está apagando um membro ao grupo de distribuição de e-mail <b><!-- $lista_email_endereco --></b>.
        </div>
    </div>
</div>
<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="endereco">E-mail</label>
                    <div class="controls">
                        <div class="control-text"><!-- $endereco --></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Apagar</button>
        <button class="btn btn-large btn-action-cancel" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cancelar</button>
    </div>
</form>