<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="email_id">E-mail de origem</label>
                    <div class="controls">
                        <select id="email_id" name="email_id" rel="<!-- $email_id -->">
                            <!-- each ($emails) e2 -->
                            <option value="<!-- $e2.id -->"><!-- $e2.endereco --></option>
                            <!-- end e2 -->
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="endereco">E-mail de destino</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">@</span>
                            <input type="text" id="endereco" name="endereco" value="<!-- $endereco -->">
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="original">Manter mensagem original</label>
                    <div class="controls">
                        <input type="checkbox" id="original" name="original" rel="<!-- $original -->" value="1">
                        <p class="help-block">Se marcar esta opção uma cópia da mensagem original será deixado na caixa de correio no endereço de origem, quando ele é encaminhado para o endereço de destino, caso contrário estará disponível apenas no endereço de destino.</p>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>