<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>E-mail</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($redirecionamentos_email) e2 -->
            <tr>
                <td><!-- $e2.email_endereco --></td>
                <td>
                    <span class="label label-info" title="Encaminhar para: <!-- $e2.endereco -->">
                        <i class="btn-icon-only icon-white icon-info-sign"></i>
                    </span>
                </td>
                <td>
                    <!-- if ($e2(original) == "1") is_original_$e2(id) -->
                    <span class="label label-success" title="Uma cópia da mensagem original será deixado na caixa de correio no endereço de origem, quando ele é encaminhado para o endereço de destino.">
                        <i class="btn-icon-only icon-white icon-ok"></i>
                    </span>
                    <!-- else is_original_$e2(id) -->
                    <span class="label label-inverse" title="A mensagem original estará disponível apenas no endereço de destino.">
                        <i class="btn-icon-only icon-white icon-ban-circle"></i>
                    </span>
                    <!-- end is_original_$e2(id) -->
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-delete">Remover</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>