<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 20%;">Lançamento</th>
                <!--<th style="width: 20%;">Vencimento</th>-->
                <th>Valor</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($crp_cobrancas) e2 -->
            <tr>
                <td><!-- $e2.lancamento_br --></td>
                <!--<td> $e2.vencimento_br </td>-->
                <td style="text-align: right;">R$ <!-- $e2.valor_br --></td>
                <td>
                    <span class="label label-<!-- $e2.crp_tipo_pagamento_status_cor -->" title="<!-- $e2.crp_tipo_pagamento_status_nome -->">
                        <i class="btn-icon-only icon-white <!-- $e2.crp_tipo_pagamento_status_icone -->"></i>
                    </span>
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-update">Visualizar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>