<!-- if ($crp_transacoes != "") e1 -->
<!--<div class="page-header">
    <h3>Detalhamento</h3>
</div>-->
<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 20%;">Lançamento</th>
                <th>Descrição</th>
                <th style="width: 15%;">Valor</th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($crp_transacoes) e2 -->
            <tr>
                <td><!-- $e2.lancamento_br --></td>
                <td><!-- $e2.descricao --></td>
                <td style="text-align: right;">R$ <!-- $e2.valor_br --></td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<!-- end e1 -->