<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="usuario">Usuário</label>
                    <div class="controls">
                        <div class="control-text"><!-- $usuario --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="diretorio">Diretório</label>
                    <div class="controls">
                        <div class="control-text"><!-- $diretorio --></div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="tipo_acesso_nome">Tipo de acesso</label>
                    <div class="controls">
                        <div class="control-text"><!-- $tipo_acesso_nome --></div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="alert alert-block">
        <h4>Atenção!</h4>
        Os arquivos associados a esta conta de FTP não serão removidos!
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
        <button class="btn btn-large btn-action-cancel">Cancelar</button>
    </div>
</form>