<div class="widget widget-box">
    <div class="widget-content">
        <div>
            <a href="javascript:;" class="btn btn-small btn-primary btn-action-sublist-return" parent="<!-- $parent -->">Voltar</a>
            Você está cadastrando um subdomínio do domínio <b><!-- $dominio_dominio --></b>.
        </div>
    </div>
</div>
<form autocomplete="off" method="post" class="form-horizontal">
    <div class="widget">
        <div class="widget-content">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <input type="hidden" id="dominio_id" name="dominio_id" value="<!-- $dominio_id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="subdominio">Subdomínios</label>
                    <div class="controls">
                        <!-- if ($id == "") c1 -->
                        <div class="input-append">
                            <input type="text" class="input-small" id="subdominio" name="subdominio" value="<!-- $subdominio -->">
                            <span class="add-on">.<!-- $dominio_dominio --></span>
                        </div>
                        <!-- else c1 -->
                        <div class="control-text"><!-- $subdominio --></div>
                        <!-- end c1 -->
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="redirect">Redirecionado</label>
                    <div class="controls">
                        <input type="checkbox" id="redirect" name="redirect" rel="<!-- $redirect -->" value="1">
                    </div>
                </div>

                <div class="control-group hide">
                    <label class="control-label" for="redirecionar">Redirecionar para</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="redirecionar" name="redirecionar" value="<!-- $redirecionar -->">
                    </div>
                </div>

                <div class="no_redirect">

                    <div class="control-group">
                        <label class="control-label" for="mirror">Espelhado</label>
                        <div class="controls">
                            <input type="checkbox" id="mirror" name="mirror" rel="<!-- $mirror -->" value="1">
                        </div>
                    </div>

                    <div class="control-group hide">
                        <label class="control-label" for="diretorio">Espelhar em</label>
                        <div class="controls">
                            <select id="diretorio" name="diretorio" rel="<!-- $diretorio -->">
                                <!-- each ($dominios) e2 -->
                                <!-- if ($e2(mirror) == "") e4_$e2(id) -->
                                <!-- if ($e2(id) != $id) id1_$e2(id) -->
                                <option value="<!-- $e2.diretorio -->"><!-- $e2.dominio --></option>
                                <!-- end id1_$e2(id) -->
                                <!-- end e4_$e2(id) -->
                                <!-- end e2 -->
                                <!-- each ($subdominios) e3 -->
                                <!-- if ($e3(mirror) == "") e5_$e3(id) -->
                                <!-- if ($e3(id) != $id) id2_$e3(id) -->
                                <option value="<!-- $e3.diretorio -->"><!-- $e3.subdominio --></option>
                                <!-- end id2_$e3(id) -->
                                <!-- end e5_$e3(id) -->
                                <!-- end e3 -->
                            </select>
                        </div>
                    </div>

                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large btn-action-save" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Salvar</button>
        <button class="btn btn-large btn-action-cancel" parent="<!-- $parent -->" parent_id="<!-- $parent_id -->">Cancelar</button>
    </div>
</form>
<script type="text/javascript">
    $("#redirect").change(function() {
        $(".no_redirect").removeClass("hide");
        $("#redirecionar").parent().parent().addClass("hide");
        if ($(this).is(":checked")) {
            $(".no_redirect").addClass("hide");
            $("#redirecionar").parent().parent().removeClass("hide");
        }
    });
    $("#mirror").change(function() {
        $("#diretorio").parent().parent().addClass("hide");
        if ($(this).is(":checked")) {
            $("#diretorio").parent().parent().removeClass("hide");
        }
    });
</script>