<!-- if ($transacoes != "") e1 -->
<div class="page-header">
    <h4>Histórico de Transações</h4>
</div>
<div class="panel panel-table">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 1%;">Código</th>
                <th style="width: 10%;">Data</th>
                <th>Descrição</th>
                <th style="width: 12%;">Valor</th>
                <th style="width: 25px;"></th>
                <th style="width: 25px; text-align: center;"><a href="javascript:;" class="btn-action-refresh" title="Atualizar"><i class="icon-refresh"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <!-- each ($transacoes) e2 -->
            <tr>
                <td><!-- $e2.codigo --></td>
                <td><!-- $e2.cadastrado_br --></td>
                <td><!-- $e2.descricao --></td>
                <td style="text-align: right;"><!-- $e2.valor_br2 --></td>
                <td>
                    <!-- if ($e2(efetivado) == "1") is_efetivado_$e2(id) -->
                    <span class="label label-success" title="Efetivado em <!-- $e2.efetivado_data -->">
                        <i class="btn-icon-only icon-white icon-ok"></i>
                    </span>
                    <!-- else is_efetivado_$e2(id) -->
                    <span class="label label-important" title="Não Efetivado">
                        <i class="btn-icon-only icon-white icon-minus"></i>
                    </span>
                    <!-- end is_efetivado_$e2(id) -->
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-warning dropdown-toggle" title="Opções" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;" rel="<!-- $e2.id -->" class="btn-action-update">Histórico</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- end e2 -->
        </tbody>
    </table>
</div>
<!-- else e1 -->
<!-- import (layout/vazio.html) -->
<!-- end e1 -->