<div class="widget">
    <div class="pricing-plans plans-1">
        <div class="plan-container">
            <div class="plan <!-- $destaque -->">
                <div class="plan-header">
                    <div class="plan-title"><!-- $nome --></div>
                    <div class="plan-price">
                        <span class="note">R$</span><!-- $valor_arredondado --><span class="term">por mês</span>
                    </div>
                </div>
                <div class="plan-features">
                    <ul>
                        <li><strong><!-- $total_dominio --></strong> domínios</li>
                        <li><strong><!-- $total_email --></strong> contas de e-mail <strong class="detalhe-oculto">com 5 GBytes</strong></li>
                        <li class="detalhe-oculto"><strong><!-- $total_mysql --></strong> bancos de dados MySQL®</li>
                        <li><strong><!-- $total_quota_disco --></strong> GBytes de espaço em disco</li>
                        <li><strong><!-- $total_quota_transferencia --></strong> GBytes de transferência mensal</li>
                        <li class="detalhe-oculto"><strong><!-- $total_subdominio --></strong> subdomínios</li>
                        <!--<li class="detalhe-oculto"><strong> $total_dominio_estacionado </strong> domínios estacionados</li>-->
                        <li class="detalhe-oculto"><strong><!-- $total_redirecionamento_email --></strong> redirecionamentos de e-mail</li>
                        <li class="detalhe-oculto"><strong><!-- $total_lista_email --></strong> grupos de e-mail</li>
                        <li class="detalhe-oculto"><strong><!-- $total_ftp --></strong> contas de FTP</li>
                        <li class="detalhe-oculto"><strong>Planos Configuráveis</strong></li>
                        <li class="detalhe-oculto" title="30% de retorno por cliente!"><strong>30% de retorno</strong></li>
                        <li class="plan-btn-detalhes"><a href="javascript:;" class="btn-action-detalhes">mais detalhes</a></li>
                    </ul>
                </div>
                <div class="plan-actions">
                    <!-- if ($assinar == "") na1 -->
                    <a href="javascript:;" rel="<!-- $id -->" parent="assinatura" class="btn btn-danger btn-action-assinar">Assinar este plano!</a>
                    <!-- else na1 -->
                    <a href="?m=assinatura" parent="assinatura" class="btn btn-inverse btn-action-assinar">Escolher outro plano!</a>
                    <!-- end na1 -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".btn-action-detalhes").click(function() {
        $(".plan-btn-detalhes").remove();
        $(".detalhe-oculto").fadeIn("slow");
    });
<!-- if ($assinar == "") na2 -->
    $(".btn-action-assinar").click(function() {
        var id = $(this).attr("rel");
        if (id.length > 0) {
            window.location = $.url() + "&assinar&id=" + id;
        }
        return false;
    });
<!-- end na2 -->
</script>